.audit-panel {
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
    border-radius: 1px;
    padding: 20px 15px 20px 15px;
}

.audit-panel-head {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    height: 28px;
    padding-top: 5px;
}

.audit-panel-field-title {
    font-size: 15px;
    margin-top: 10px;
    padding: 12px 0 0 0;
}

.audit-panel-field {
    margin-top: 10px!important;
}

.audit-error {
    font-size: 14px;
    padding-right: 15px;
}

.audit-panel-next-elements {
    margin-top: 30px;
}

.audit-control-panel {
    margin-top: 30px;
    -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
    border-radius: 1px;
}

.audit-panel-general {
    padding-bottom: 67px;
}



.add-new-audit {
    margin-top: 10px;
    width: 35px;
    height: 35px;
    margin: 0 auto;
}

.add-new-audit > i {
    color: #1462a4;
    font-size: 35px;
    cursor: pointer;

}

.add-new-audit > i:hover {
    color: #23527c;
}
.close-responsibile-person {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #ff252a;
}

.close-responsibile-person:hover {
    color: #c60a04;
}




.checkbox-container {

    margin-top: 8px;
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container .radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover .radio ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container .radio:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container .radio:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




.footer-progress-bar {
    position: fixed;
    left: 0;
    bottom: 0;
}

.question-with-answer {
    padding-left: 30px;
    border-bottom: 1px solid #cccccc ;
    margin-bottom: 5px;
    width: 100%;
}

.subcategory-heading {
    font-size: 17px;
    font-weight: 600;
    height: 50px;
    line-height: 50px;
}

.question-without-answer {
    min-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    line-height: 20px;
    font-size: 14px;
    font-style: italic;
}

.question-with-answer {
    min-height: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    line-height: 20px;
    font-size: 14px;
}

.not-relevant-icon {
    margin-left: 10px;
    color: #2196f3;
    cursor: pointer;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.mark-as-relevant-icon {
    margin-left: 10px;
    color: #C90D0D;
    cursor: pointer;
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.mark-as-relevant-icon {
    color: #EF0F0F;
}

.not-relevant-icon:hover {
    color: #337ab7;
}

.marked-as-not-relevant {
    text-decoration: line-through;
}

.save-comment {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    background-color: #1462a4;
    border-radius: 3px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 55px;
}

.save-comment:hover {
    background-color: #13477e;
}

.modal-overlay {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
}

.modal-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #f3f3f3;
    opacity: 0.6;
}


.modal-content {
    height: 200px;
}

/*****************************************
  upload button styles
******************************************/
.file-upload {
    position: relative;
}

.file-upload__label {
    display: block;
    padding: 1em 2em;
    color: #fff;
    background: #1462a4;
    border-radius: .4em;
    transition: background .3s;
    float: none;
    margin-top: 35px;
    text-align: center;
    width: 50px;
}

.file-upload__label:hover {
     cursor: pointer;
     background: #124f88;
 }

.file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1px;
    width:0;
    height: 100%;
    opacity: 0;

}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    cursor: pointer;
}


.red-border {
    border-left:  6px solid red ;
    border-radius: 5px;
}

.yellow-border {
    border-left:  6px solid yellow ;
    border-radius: 5px;
}
.grey-border {
    border-left:  6px solid #cccccc ;
    border-radius: 5px;
}

.green-border {
    border-left:  6px solid green ;
    border-radius: 5px;
}


.report-row {
    margin-top: 10px;
    min-height: 25px;
    line-height: 25px;
}

.report-row > div,.report-row > div > div,
.report-row > div > p{
    font-size: 13px;
}

.report-row > div:first-child {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}