
 .cke_editable .h-card{
    position: relative;
    max-width: 120px;
    min-height: 12px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    float: left;
    padding: 10px;
    border: 1px solid #EBEBEB;
    text-align: center;
    text-transform: capitalize;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
     bottom: -8px;
}

 .cke_editable .field{
    color: #142674;
    font-weight: bold;
 }
