a, abbr, acronym, address, applet, article, aside, audio, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: 0 !important; }

* {
  -webkit-text-size-adjust: auto !important; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

a {
  border: 0; }

body {
  line-height: 1;
  word-wrap: break-word; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="text"], input[type="submit"], textarea {
  outline: 0 !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; }

:focus {
  outline-color: transparent;
  outline-style: none; }

*, :after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clear {
  clear: both !important;
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  width: 0 !important; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

/*input[type=text], input[type=email], input[type=password], input[type=number], textarea {
	&::-webkit-input-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&:-moz-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&::-moz-placeholder {
		opacity: 1;
		color: #74421c;
	}
	&:-ms-input-placeholder {
		opacity: 1;
		color: #74421c;
	}
}


input.error {
	color: #D9272E !important;

	&::-webkit-input-placeholder {
		color: #D9272E !important;
	}
	&:-moz-placeholder {
		color: #D9272E !important;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: #D9272E !important;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #D9272E !important;
	}
}
 */
/*
	cdCss functions
	--------------------
*/
/*
Color scheme color variables*/
html {
  height: 100%; }

body {
  height: 100%;
  font-family: arial;
  background: #EBEBEB; }

a {
  text-decoration: none !important; }

.welcome-header >img {
  margin: 0 auto;
}
.welcome{
  font-family: "Times New Roman";
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.welcome > h1 {
  color: #1462a4;
}

/* Helpers */
.bg-white {
  background: #fff; }
  .bg-white > .explain-block {
    margin-right: -20px; }

.padding-20 {
  padding: 20px; }

.no-padding {
  padding: 0 !important; }

.no-margin {
  margin: 0 !important; }

.mt80 {
  margin-top: 80px; }

.mt70 {
  margin-top: 70px; }

.mt30 {
  margin-top: 30px !important; }

.mt50 {
  margin-top: 50px; }

.mr80 {
  margin-right: 80px; }

.show {
  display: block; }

.hide {
  display: none; }

h1 {
  font-size: 30px;
  color: #000;
  font-weight: bolder;
  letter-spacing: 1px; }

h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px; }

h2 {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1px; }

label {
  min-width: 110px;
  cursor: pointer; }

.bold-label {
  font-size: 21px;
  font-weight: 600; }

.lang-label {
  font-size: 21px; }

.bold-label-small {
  font-size: 18px;
  font-weight: 400; }

select {
  cursor: pointer; }

.bb-select-wrapper {
  margin-top: 30px; }

.bb-select {
  background: transparent;
  padding: 5px;
  margin-left: 15px;
  font-size: 14px;
  width: 215px;
  border: none;
  border-bottom: 2px solid #C0C0C0; }

.bb-select-lang {
  background: transparent;
  padding: 5px 0;
  margin-left: 15px;
  font-weight: 600;
  width: 100px;
  border: none;
  border-bottom: 2px solid #C0C0C0; }

.bb-select-contr {
  background: transparent;
  padding: 5px;
  margin-left: 15px;
  font-size: 14px;
  width: 190px;
  border: none;
  border-bottom: 2px solid #C0C0C0; }

/* Helpers end*/
/*.main-wrapper{
	.main-row{
	}
}*/
.navbar-brand {
  position: relative;
  display: inline-block;
  padding: 0; }

.navbar {
  margin-bottom: 0;
  border: none; }

.navbar-default {
  padding: 15px;
  background: #fff; }

.navbar-right .fa {
  line-height: 50px;
  font-size: 39px; }

.navbar-right .header-portret a.header-avatar {
  cursor: pointer;
  border: 1px solid #C0C0C0;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  border-radius: 100%;
  overflow: hidden;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important; }

img[alt="full.png"] {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  width: 50px; }
  img[alt="full.png"]:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    margin-top: -1px; }

.navbar-nav li:first-child a#fullScreen-a {
  width: 60px;
  height: 60px;
  display: inline-block;
  overflow: hidden; }

.navbar-nav li:nth-child(2) a span.fa {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.navbar-nav li:nth-child(2) a:hover span {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

/*sidebar wrapper*/
.sidebar-wrapper {
  overflow: hidden;
  min-height: 100%;
  background: #1462A4; }
  .sidebar-wrapper .panel-body {
    border: none !important; }
  .sidebar-wrapper .panel-default > .panel-heading {
    background: transparent;
    padding: 0; }
  .sidebar-wrapper .panel {
    border: none;
    border-radius: 0;
    background: transparent; }
  .sidebar-wrapper td {
    border: none !important; }
  .sidebar-wrapper a {
    font-size: 20px;
    display: block;
    width: 100%;
    padding: 10px 15px; }
  .sidebar-wrapper .panel-title a {
    color: #fff;
    line-height: 50px; }
    .sidebar-wrapper .panel-title a img {
      margin-right: 10px;
      display: inline-block;
      float: left;
      width: 50px; }
  .sidebar-wrapper .panel-body {
    padding: 0; }
    .sidebar-wrapper .panel-body table {
      margin-bottom: 0; }
      .sidebar-wrapper .panel-body table tr td {
        padding-left: 50px;
        color: #fff; }
        .sidebar-wrapper .panel-body table tr td a {
          color: #B5CDE2; }
  .sidebar-wrapper .fa, .sidebar-wrapper .glyphicon {
    margin-right: 10px;
    display: inline-block;
    float: left;
    min-height: 40px; }
  .sidebar-wrapper .home-link {
    padding: 10px 0;
    margin-top: 5px; }

/*Sidebar Wrapper end*/
.main-container-right {
  padding: 30px;
  padding-bottom: 0;
  min-height: 100%; }
  .main-container-right .steps-button-wrap {
    margin-top: 50px; }

/*login*/
.login-form-wrapper {
  border-radius: 0; }
  .login-form-wrapper .panel-body {
    padding: 30px; }
    .login-form-wrapper .panel-body #btnLogin {
      width: 100%;
      margin-top: 50px;
      background: #2196F3;
      color: #fff;
      border-radius: 2px;
      padding: 12px; }
      .login-form-wrapper .panel-body #btnLogin i {
        margin-left: 10px;
        color: #2196F3; }
  .login-form-wrapper h1 {
    padding: 0;
    color: #fff; }
  .login-form-wrapper .panel-heading {
    /*background: $main-blue;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding-left: 30px;*/
    display: none; }

.m-auto-height {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.m-auto {
  display: inline-block;
  margin: auto; }

.dashboard-alert {
  border-radius: 4px;
  color: #fff;
  background: #0098A6;
  padding: 10px;
  text-align: center; }
  .dashboard-alert a {
    font-weight: bold;
    color: #fff; }
    .dashboard-alert a.fa-close {
      float: right;
      font-weight: normal; }

#for_company_admin label, #for_translator label {
  width: 146px; }

#for_company_admin .for-flex, #for_translator .for-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #for_company_admin .for-flex span, #for_translator .for-flex span {
    width: 100% !important; }
    #for_company_admin .for-flex span select, #for_translator .for-flex span select {
      margin-left: inherit;
      margin-right: 20px;
      width: 100%; }

#for_company_admin .bb-select-wrapper, #for_translator .bb-select-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #for_company_admin .bb-select-wrapper > label + span, #for_translator .bb-select-wrapper > label + span {
    width: 100%; }
    #for_company_admin .bb-select-wrapper > label + span #company, #for_company_admin .bb-select-wrapper > label + span #language, #for_translator .bb-select-wrapper > label + span #company, #for_translator .bb-select-wrapper > label + span #language {
      width: 100% !important; }
  #for_company_admin .bb-select-wrapper .select2, #for_translator .bb-select-wrapper .select2 {
    width: 100% !important; }

.all_dpo th {
  width: 128px; }

/*login*/
/*Dropfile wrapper*/
.dropfile-wrapper {
  margin-top: 50px;
  position: relative; }
  .dropfile-wrapper input {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%; }
  .dropfile-wrapper label {
    cursor: pointer;
    border-radius: 4px;
    min-height: 200px;
    background: #fff;
    width: 100%;
    border: 2px dashed #1462A4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .dropfile-wrapper label span {
      margin: auto;
      font-size: 24px; }

.for-layer-3-4 {
  height: 100%; }
  .for-layer-3-4 .col-sm-6 {
    height: 100%; }

.ui-widget-content {
  height: 100%; }

.ui-state-highlight {
  height: 100%; }

#droppable {
  height: 100%; }

.drag-drop-pairs-wrapper-in {
  height: auto;
  min-height: 200px;
  padding: 30px;
  background: #fff; }
  .drag-drop-pairs-wrapper-in.right {
    min-height: 768px;
    position: relative; }
    .drag-drop-pairs-wrapper-in.right h3 {
      font-size: 18px;
      letter-spacing: initial; }
  .drag-drop-pairs-wrapper-in.edit-email {
    min-height: 1238px; }
    .drag-drop-pairs-wrapper-in.edit-email .inpair-wrap {
      margin-top: 400px; }

.inpair-wrap {
  position: relative; }

.show-dragables {
  position: absolute;
  z-index: 20;
  right: 0;
  margin-top: -40px;
  background: #f7f6f6;
  border: none;
  font-size: 30px;
  color: #2196F3;
  line-height: 20px;
  font-weight: bold; }

.hand {
  color: #AEDD94 !important; }

.cross {
  color: #FF5D55 !important; }

.close-ax {
  display: block;
  background: #fff;
  text-align: right;
  padding: 15px;
  font-size: 24px; }

.btn-minimize-right {
  padding-bottom: 40px; }

.editor {
  margin-top: 20px; }

.validation_error_list li {
  margin: 5px; }

.validation_error li {
  padding: 2px; }

.div-wrapper-for-x {
  /*position: relative;
	width: calc(100% / 3);
	max-width: 120px;
	min-height: 36px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	float: left;
	padding: 10px;
	border: 1px solid $light-gray;
	text-align: center;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
  position: relative;
  width: 100%;
  margin: 3px 0;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  border: 1px solid #EBEBEB;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 5px 20px; }
  .div-wrapper-for-x i {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    opacity: 0; }
    .div-wrapper-for-x i.disable-field {
      left: 5px; }
    .div-wrapper-for-x i.remove-field {
      right: 2px;
      top: 0; }
  .div-wrapper-for-x:hover i {
    opacity: 1;
    display: block; }

.dragable-items.new-field i {
  display: none !important; }

.explain-block {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  height: 0;
  padding: 0;
  text-align: center;
  margin-right: -30px;
  margin-top: 20px;
  background: #F7F6F6;
  color: #606060;
  opacity: 0; }
  .explain-block span {
    font-size: 22px;
    margin-right: 10px;
    color: #606060; }
  .explain-block .fa-info-circle {
    cursor: pointer; }

.lng {
  border-bottom: 2px solid #C0C0C0;
  margin-left: 40px; }

.explain-block-title-active + div {
  height: 98px;
  position: relative;
  margin-bottom: 15px;
  z-index: 15;
  opacity: 1;
  padding: 30px 15px; }

.explain-block-title-active h3 {
  position: absolute !important;
  width: 100% !important;
  height: 98px !important; }

.explain-block-title {
  position: relative;
  z-index: 10;
  margin-top: 30px;
  margin-bottom: 20px; }
  .explain-block-title h3 {
    font-size: 18px; }
    .explain-block-title h3 span {
      margin-right: 5px;
      float: left;
      line-height: 18px;
      font-size: 20px; }
  .explain-block-title .fa-info-circle {
    cursor: pointer; }

.description-title {
  position: relative;
  z-index: 10;
  margin-top: 30px;
  margin-bottom: 20px; }
  .description-title h3 {
    font-size: 18px; }
    .description-title h3 span {
      margin-right: 5px;
      float: left;
      line-height: 18px;
      font-size: 20px; }

.inmodal-dragable .div-wrapper-for-x {
  -webkit-box-shadow: 0 0 9px #aedd94;
  box-shadow: 0 0 9px #aedd94; }

.inmodal-dragable input {
  position: relative;
  cursor: pointer; }
  .inmodal-dragable input + span {
    cursor: default;
    position: relative;
    top: -2px; }

.dragable-block .dragable-block-row {
  /*font-size: 0;
		margin-top: 20px;
		display: flex;*/ }

.dragable-block span {
  /*padding: 10px;
		position: relative;
		width: calc(100% / 3);
		max-width: 120.3px;
		margin-left: 5px;
		margin-right: 5px;
		border-radius: 5px;
		cursor: pointer;
		flex: 1 0 0;
		padding: 10px;
		border: 1px solid $light-gray;
		text-align: center;
		text-transform: capitalize;
		font-size: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;*/ }
  .dragable-block span.h-card.editable:hover i {
    display: block; }
  .dragable-block span i {
    position: absolute;
    display: none; }

.div-for-new-item-wrap {
  text-align: right;
  clear: both; }

#editModal .modal-body {
  overflow: hidden; }

#editModal .div-wrapper-for-x {
  padding: 10px 5px 10px 20px; }
  #editModal .div-wrapper-for-x input {
    float: left;
    margin: 0; }

.enable-button-wrap {
  clear: both;
  text-align: right; }
  .enable-button-wrap .enable_fileds:hover {
    color: #AEDD94;
    background: #fff; }
  .enable-button-wrap button {
    margin-top: 30px;
    font-size: 17px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #AEDD94;
    border: 1px solid #AEDD94;
    color: #fff;
    padding: 8px 30px;
    border-radius: 10px; }
    .enable-button-wrap button:hover {
      color: #333;
      background-color: #e6e6e6;
      border: 1px solid #adadad; }

.new-item-plus {
  display: inline-block;
  padding-top: 15px;
  font-size: 35px; }
  .new-item-plus a {
    padding: 5px; }
  .new-item-plus img {
    max-width: 30px; }

.new_language {
  text-align: right;
  padding-top: 40px; }

.radio-select-wrapper {
  margin-top: 40px;
  -webkit-box-shadow: 0 2px 12px #606060;
  box-shadow: 0 2px 12px #606060;
  display: inline-block; }
  .radio-select-wrapper div {
    position: relative;
    width: 100%;
    display: inline-block;
    background: #fff; }
    .radio-select-wrapper div input {
      opacity: 0;
      cursor: pointer;
      position: absolute;
      height: 100%;
      width: 100%;
      display: block; }
      .radio-select-wrapper div input:checked + label {
        background: #2196F3; }
      .radio-select-wrapper div input.active + label {
        background: #2196F3; }
    .radio-select-wrapper div label {
      padding-top: 20px;
      padding-bottom: 20px;
      height: 20px;
      background: #FAFAFA;
      width: 100%;
      line-height: 0;
      padding-left: 20px; }

.paragraphs_translations .saveCancel-wrapper {
  width: 100%; }

.saveCancel-wrapper {
  overflow: hidden;
  text-align: right;
  margin: 30px -10px 30px 30px;
  position: relative; }
  .saveCancel-wrapper div {
    display: inline-block; }
    .saveCancel-wrapper div button {
      min-width: 100px;
      border: none;
      padding: 10px;
      color: #fff;
      border-radius: 4px;
      margin-right: 10px; }
      .saveCancel-wrapper div button.save {
        background: #AEDD94;
        border: 1px solid #AEDD94; }
      .saveCancel-wrapper div button.cancel {
        background: #FF5D55;
        border: 1px solid #FF5D55; }
      .saveCancel-wrapper div button.go-next {
        background: #fff;
        color: #606060;
        border: 1px solid #C0C0C0; }
      .saveCancel-wrapper div button.close-2 {
        background: #fff;
        color: #606060;
        border: 1px solid #C0C0C0; }
  .saveCancel-wrapper .save {
    background: #AEDD94;
    min-width: 100px;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 4px;
    margin-right: 10px; }

.dt-table {
  margin-top: 70px; }

td.status span {
  padding: 4px;
  display: block;
  text-align: center; }
  td.status span.inactive {
    color: #fff;
    background: #FF5D55; }
  td.status span.active {
    color: #fff;
    background: #AEDD94; }

td.actions {
  text-align: center; }

td.actions::after {
  content: ''}

  td.actions span {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 26px;
    color: #606060;
    display: inline-block;
    padding: 0 10px;
    cursor: pointer; }
    td.actions span:hover {
      color: #2196F3; }

.steps-button-wrap {
  overflow: hidden;
  margin-top: 100px; }
  .steps-button-wrap button {
    padding: 10px;
    font-size: 18px;
    min-width: 200px;
    background: #1462A4;
    color: #fff; }
    .steps-button-wrap button#backward {
      display: none; }

#example_paginate, #example_info, #example_filter, #example_length {
  display: none; }

#example1_paginate, #example1_info, #example1_filter, #example1_length {
  display: none; }

#example2_paginate, #example2_info, #example2_filter, #example2_length {
  display: none; }

.dataTables_length {
  color: #606060;
  margin-top: 50px;
  margin-bottom: 50px; }
  .dataTables_length select {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 0;
    font-size: 14px; }

.dataTables_filter {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: right; }
  .dataTables_filter label {
    width: 80%;
    position: relative; }
    .dataTables_filter label:before {
      color: #606060;
      font-size: 20px;
      line-height: 30px;
      content: '\f002';
      position: absolute;
      font-family: FontAwesome;
      left: 15px;
      bottom: 2px; }
  .dataTables_filter input {
    padding-left: 40px;
    padding-bottom: 8px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #EBEBEB;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

#table-paginat {
  margin-top: 70px; }
  #table-paginat .fa-plus-circle {
    float: right;
    font-size: 50px; }

.pager li a {
  border: none;
  color: #606060;
  /*span{
				&.fa-angle-right,&.fa-angle-left{
					font-size: 26px;
				}
			}*/ }

/*add-new-company*/
.add-new-company-main {
  background: #fff;
  padding: 60px 40px; }
  .add-new-company-main h3 {
    font-weight: normal; }

.full-width-inps input {
  display: block;
  width: 100%;
  margin-top: 30px;
  padding: 10px 0 10px 0;
  border: none;
  border-bottom: 1px solid #C0C0C0; }

.sided-check-wrap {
  margin-top: 30px; }
  .sided-check-wrap label {
    border: 2px solid #EBEBEB;
    color: #606060;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 4px; }

.styled-label-check {
  position: relative;
  background: #2196F3;
  min-width: 35px !important;
  padding: 15px !important;
  margin-bottom: -10px; }

.styled-input-check {
  visibility: hidden; }
  .styled-input-check:checked + .styled-label-check:before {
    font-family: FontAwesome;
    content: "\2713";
    font-size: 25px;
    font-weight: lighter;
    color: #fff;
    position: absolute;
    top: 3px;
    left: 8px; }

.add-author-rep {
  margin-top: 40px; }
  .add-author-rep h3 {
    color: #606060; }
  .add-author-rep .bold-label {
    font-weight: normal; }
  .add-author-rep .bb-select {
    font-size: 18px;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    border-bottom: 1px solid #C0C0C0;
    padding-left: 0;
    color: #606060; }

.representative {
  position: relative; }

.remove_rep {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  cursor: pointer;
  border-bottom: 6px solid red;
  width: 20px; }

.auth_rep input {
  display: block;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  padding: 4px 0 4px 0;
  border: none;
  border-bottom: 1px solid #C0C0C0;
  color: #606060; }

.auth_rep select {
  margin-left: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 2px solid #EBEBEB;
  font-size: 18px;
  color: #606060; }

.fst-lst-pos {
  margin-top: 40px; }

.add-some {
  cursor: pointer;
  text-align: center;
  border: 1px solid #C0C0C0;
  margin-top: 30px;
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 8px 0 #EBEBEB;
  box-shadow: 0 3px 8px 0 #EBEBEB; }
  .add-some span {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .add-some:hover .fa-plus {
    -webkit-transform: rotate(180deg) scale(1.2);
    -ms-transform: rotate(180deg) scale(1.2);
    transform: rotate(180deg) scale(1.2);
    color: #1462A4; }

.auth-status {
  margin-top: 40px;
  padding: 15px 0;
  border-bottom: 1px solid #1462A4;
  color: #1462A4;
 }
  .auth-status p {
    font-size: 18px;
    letter-spacing: 1px;
    color: #606060; }
  .auth-status select {
    display: block;
    border: 2px solid #EBEBEB;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px;
    width: 100%; }
  .auth-status .select2-container {
    width: 100% !important; }

.dpo-select select {
  display: block;
  border: 2px solid #EBEBEB;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  width: 100%; }

.add-new-company-form-wrapper .saveCancel-wrapper {
  overflow: hidden;
  text-align: right;
  margin: 70px -10px 30px 30px;
  position: relative; }

.tar {
  margin-top: 30px; }
  .tar label {
    font-size: 14px;
    text-align: right;
    display: block;
    margin-top: 30px; }
  .tar input {
    display: block;
    width: 100%;
    padding: 10px 0 10px 0;
    border: none;
    margin-top: 5px;
    border-top: 1px solid #C0C0C0; }

.new-item-plus-2 {
  text-align: center; }
  .new-item-plus-2 .new-item-plus {
    max-width: 400px;
    margin-top: -50px;
    font-size: 40px; }

.new-item-plus-2.user-ed {
  text-align: right; }
  .new-item-plus-2.user-ed .new-item-plus {
    margin-top: 0; }

/*add-new-company end*/
/*Bug Form*/
.bug-main-wrap {
  position: fixed;
  right: -400px;
  bottom: 0;
  width: 100%;
  max-width: 400px;
  z-index: 1020;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid #EBEBEB;
  -webkit-box-shadow: 0 0 4px 2px #C0C0C0;
  box-shadow: 0 0 4px 2px #C0C0C0; }
  .bug-main-wrap .clickable-bug {
    font-size: 60px;
    cursor: pointer;
    position: absolute;
    left: -48px;
    color: #1462A4; }
    .bug-main-wrap .clickable-bug img {
      -webkit-box-shadow: 0 2px 10px 0 #606060;
      box-shadow: 0 2px 10px 0 #606060; }

.bug-main-wrap-toggle {
  right: 0; }

/*######## Smart Green ########*/
.smart-green {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background: #fff;
  padding: 30px 30px 20px 30px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px; }

.smart-green h1 {
  font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 20px 0 20px 40px;
  display: block;
  margin: -30px -30px 10px -30px;
  color: #fff;
  background: #1462A4;
  text-shadow: 1px 1px 1px #949494;
  border-bottom: 1px solid #1462A4; }

.smart-green h1 > span {
  display: block;
  font-size: 11px;
  color: #fff; }

.smart-green label {
  display: block;
  margin: 0 0 5px; }

.smart-green label > span {
  float: left;
  margin-top: 10px;
  color: #2196F3; }

.smart-green input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
  color: #555;
  height: 30px;
  line-height: 15px;
  width: 100%;
  padding: 0 0 0 10px;
  margin-top: 2px;
  border: 1px solid #E5E5E5;
  background: #FBFBFB;
  outline: 0;
  -webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
  box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
  font: normal 14px/14px Arial, Helvetica, sans-serif; }

.smart-green textarea {
  height: 100px;
  padding-top: 10px; }

.smart-green select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
  text-overflow: '';
  width: 100%;
  height: 30px; }

.smart-green .button {
  background-color: #1462A4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-border-radius: 5px;
  border: none;
  padding: 10px 25px 10px 25px;
  color: #fff;
  text-shadow: 1px 1px 1px #949494; }

.smart-green .button:hover {
  background-color: #1462A4; }

/*Bug Form*/
/*Settings Wrapper*/
.settings-wrapper {
  padding: 30px; }
  .settings-wrapper .nav-tabs {
    margin-bottom: 80px;
    border-bottom: 3px solid #EBEBEB; }
    .settings-wrapper .nav-tabs li {
      border-radius: 0;
      margin-bottom: -3px; }
      .settings-wrapper .nav-tabs li.active a {
        background: inherit;
        border: none;
        border-bottom: 3px solid #1462A4; }
      .settings-wrapper .nav-tabs li a {
        -webkit-transition: all 0.1s;
        -o-transition: all 0.1s;
        transition: all 0.1s;
        color: #000;
        border-radius: 0;
        border: none;
        text-transform: uppercase;
        font-weight: bolder; }
        .settings-wrapper .nav-tabs li a:hover {
          background: transparent;
          border-bottom: 3px solid #1462A4; }

.sett-header {
  min-height: 210px;
  background: #1462A4; }

.sett-avatar-upload span {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  top: -60px;
  color: #fff; }

.sett-avatar-upload label {
  cursor: pointer;
  max-width: 180px;
  float: none;
  margin: 0;
  padding: 20px; }
  .sett-avatar-upload label:after {
    content: ""; }

.sett-avatar-upload img {
  border-radius: 100%;
  max-width: 100%; }

.sett-tabs-wrapper {
  background: #fff;
  padding: 40px 20px 20px; }

.full-width-info-block {
  line-height: 80px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  background: #EBEBEB;
  min-height: 80px; }

.sett-input-div {
  margin-top: 50px; }
  .sett-input-div.half {
    display: inline-block;
    width: 50%; }
  .sett-input-div label {
    font-size: 17px;
    font-weight: bolder;
    color: #606060;
    display: block; }
  .sett-input-div input {
    margin-bottom: 40px;
    padding: 5px 0 5px 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C0C0C0; }

.half-parent {
  font-size: 0; }
  .half-parent div {
    font-size: 16px;
    padding: 15px 5px; }
  .half-parent input[type="date"] {
    padding-bottom: 2px; }

.sett-gender-wrap {
  margin-top: 40px;
  margin-bottom: 70px;
  max-width: 300px;
  font-size: 0; }
  .sett-gender-wrap div {
    font-size: 16px;
    display: inline-block;
    width: calc(100% / 3); }
    .sett-gender-wrap div label {
      float: left;
      min-width: inherit; }
    .sett-gender-wrap div input {
      float: left;
      margin: 2px 10px 0; }

#tab_default_1 .saveCancel-wrapper {
  margin-top: 80px;
  padding-right: 10px; }
  #tab_default_1 .saveCancel-wrapper button.save {
    padding: 15px; }

#tab_default_2 .saveCancel-wrapper {
  margin-top: 80px;
  padding-right: 10px; }
  #tab_default_2 .saveCancel-wrapper button.save {
    padding: 15px; }

#tab_default_3 .saveCancel-wrapper {
  margin-top: 80px;
  padding-right: 10px; }
  #tab_default_3 .saveCancel-wrapper button.save {
    padding: 15px; }

.sett-modal-pairs-wrap {
  background: #fff; }
  .sett-modal-pairs-wrap .for-each {
    padding: 30px;
    min-height: 250px;
    background: #fff;
    -webkit-box-shadow: 0 0 12px 2px #C0C0C0;
    box-shadow: 0 0 12px 2px #C0C0C0; }
    .sett-modal-pairs-wrap .for-each p {
      font-size: 20px;
      text-align: center; }
    .sett-modal-pairs-wrap .for-each span {
      min-height: 40px;
      display: block;
      margin-top: 10px;
      font-size: 14px;
      max-width: 300px;
      text-align: center;
      color: #606060; }

#settModal .modal-body {
  padding: 30px; }

#sett-inp {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute; }

.sett-label-bg {
  text-align: center;
  min-height: 124.5px;
  min-width: 100%;
  background: #EBEBEB;
  padding: 15px; }

.sett-label-button {
  font-weight: bolder;
  background: #fff;
  margin-top: 20px;
  padding: 10px 20px; }

.inp-upload-div {
  position: relative; }

.sett-current-status {
  min-height: 200px;
  background: #fff;
  padding: 20px;
  /* Rounded sliders */ }
  .sett-current-status.limited_width {
    width: 95%; }
  .sett-current-status p {
    font-size: 17px;
    font-weight: bolder; }
  .sett-current-status hr {
    margin-bottom: 30px; }
  .sett-current-status .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px; }
    .sett-current-status .switch .fa-close {
      color: #2196F3;
      font-size: 20px; }
  .sett-current-status .switch input {
    display: none; }
  .sett-current-status .slider {
    position: absolute;
    cursor: pointer;
    height: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .sett-current-status .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0;
    bottom: -5px;
    background-color: #93BE94;
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s; }
  .sett-current-status input:checked + .slider {
    background-color: #AEDD94; }
  .sett-current-status input:focus + .slider {
    -webkit-box-shadow: 0 0 1px #AEDD94;
    box-shadow: 0 0 1px #AEDD94; }
  .sett-current-status input:checked + .slider:before {
    -webkit-transform: translateX(35px);
    -ms-transform: translateX(35px);
    transform: translateX(35px); }
  .sett-current-status .slider.round {
    border-radius: 34px;
    max-width: 60px; }
  .sett-current-status .slider.round:before {
    border-radius: 50%; }
  .sett-current-status .sett-user-stat {
    font-size: 18px; }
  .sett-current-status .auth-status {
    margin-top: -30px; }

.sett-current-flex {
  margin-top: 30px; }
  .sett-current-flex span {
    margin-top: 23px; }
  .sett-current-flex p {
    margin-right: 10px;
    display: inline-block;
    font-family: sans-serif;
    padding: 15px 0 5px 0; }
    .sett-current-flex p.active {
      border-bottom: 2px solid #AEDD94; }

.useruploadicon-span {
  right: -100px;
  top: -130px !important; }

.btn-minimize-left span:before {
  font-family: FontAwesome;
  content: "\f068"; }

.btn-minimize-left:hover {
  color: #2196F3; }

.minimized {
  -webkit-transition: 0.1s ease;
  -o-transition: 0.1s ease;
  transition: 0.1s ease;
  width: 45px;
  height: 45px !important;
  overflow: hidden; }
  .minimized .close-ax span {
    display: inline-block;
    margin-left: -10px;
    font-size: 23px; }
    .minimized .close-ax span:before {
      -webkit-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in;
      content: "\F0B2"; }
    .minimized .close-ax span:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }

.full-screen span {
  display: inline-block;
  margin-left: 10px;
  font-size: 23px; }
  .full-screen span:before {
    font-family: FontAwesome;
    content: "\F0B2"; }
  .full-screen span:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.maximized {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  visibility: visible; }

.layer-1-replaced {
  padding: 20px;
  margin-bottom: 40px; }
  .layer-1-replaced .bb-select-wrapper input {
    margin-left: 0;
    display: block;
    width: 100%; }
  .layer-1-replaced .bb-select-wrapper label {
    margin-bottom: 10px; }
  .layer-1-replaced .bb-select-wrapper select {
    margin-left: 0;
    display: block;
    width: 100%;
    padding-left: 0; }
  .layer-1-replaced .bb-select-lang {
    padding: 3px 0; }

.c-validation {
  width: 100%;
  margin-top: 5px;
  color: #c51244;
  float: right;
  text-align: right; }

.auth-status .c-validation {
  margin-top: 16px; }

.drag-drop-pairs-wrapper-in > h4 {
  color: #1462A4;
  margin: 15px 0 15px;
  font-size: 18px;
  padding-bottom: 6px; }

#layer-2 .drag-drop-pairs-wrapper {
  height: auto; }

.term-time-speceffic-wrap {
  background: #fff;
  margin-top: 40px;
  padding: 20px; }
  .term-time-speceffic-wrap .bb-select-wrapper .bb-select {
    width: 100%;
    margin-left: 0; }
  .term-time-speceffic-wrap .explain-block {
    margin-right: -20px;
    margin-left: -20px; }
  .term-time-speceffic-wrap .radio-select-wrapper {
    max-width: 350px; }

.add-edit-location-wrap {
  border: 1px solid #EBEBEB;
  background: #fff;
  padding: 20px; }
  .add-edit-location-wrap p {
    font-size: 18px; }
    .add-edit-location-wrap p:nth-child(2) {
      margin-top: 40px; }
  .add-edit-location-wrap .bb-select-wrapper select {
    padding-left: 0;
    border-bottom: 1px solid #C0C0C0; }
  .add-edit-location-wrap .bb-select-wrapper label {
    font-size: 18px;
    font-weight: normal; }
  .add-edit-location-wrap .auth-status {
    text-align: left;
    border: none; }
  .add-edit-location-wrap .location-name-table-wrap {
    border: 1px solid #C0C0C0;
    background: #fff;
    padding: 20px;
    margin-top: 20px; }
    .add-edit-location-wrap .location-name-table-wrap .fa.fa-map-marker {
      color: #2196F3; }
    .add-edit-location-wrap .location-name-table-wrap .fa.fa-picture-o {
      color: #1462A4; }
    .add-edit-location-wrap .location-name-table-wrap .fa.fa-pencil {
      color: orange; }
    .add-edit-location-wrap .location-name-table-wrap .fa.fa-times {
      color: #FF5D55; }
    .add-edit-location-wrap .location-name-table-wrap .dt-table > div {
      overflow-x: scroll; }
    .add-edit-location-wrap .location-name-table-wrap td {
      min-width: 150px;
      text-align: left;
      background: transparent; }
    .add-edit-location-wrap .location-name-table-wrap th {
      text-align: left;
      border: none;
      border-bottom: 2px solid #EBEBEB; }
    .add-edit-location-wrap .location-name-table-wrap #locations_paginate {
      display: none; }
    .add-edit-location-wrap .location-name-table-wrap #locations_info {
      display: none; }
  .add-edit-location-wrap .add-edit-location-wrap-half {
    width: 100%;
    border: 1px solid #C0C0C0;
    padding: 15px; }
    .add-edit-location-wrap .add-edit-location-wrap-half .simple-input-wrap input {
      max-width: 100%; }
    .add-edit-location-wrap .add-edit-location-wrap-half .bb-select-wrapper select {
      width: 100%;
      margin-left: 0;
      font-size: 16px; }

#locations_filter label:before {
  left: inherit;
  right: 20px; }

#locations_filter label input {
  width: 80%;
  padding-left: 10px; }

.simple-input-wrap label {
  margin-top: 20px;
  margin-bottom: 5px;
  float: left;
  display: block; }

.simple-input-wrap input {
  width: 100%;
  max-width: 480px;
  border: none;
  border-bottom: 1px solid #C0C0C0;
  display: block; }

.main-cont-right-nopadd .main-container-right {
  padding: 0; }

#locations_forom ul li {
  display: inline-block;
  -webkit-box-shadow: 0 0 9px #AEDD94;
  box-shadow: 0 0 9px #AEDD94; }

#locations_forom label {
  padding-left: 10px;
  cursor: pointer;
  position: relative;
  top: -2px; }

.select2-container .select2-selection {
  padding: 4px;
  border: 2px solid #EBEBEB !important; }

.location_title {
  margin-bottom: 10px; }

#locationsModal .modal-footer .saveCancel-wrapper {
  margin: 0; }

.translate-st-contract {
  padding: 30px 15px 50px;
  background: #fff;
  margin-top: 40px; }
  .translate-st-contract h3 {
    font-weight: normal;
    font-size: 26px; }

.bb-select-full {
  font-size: 21px;
  width: 100%;
  margin-left: 0;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #C0C0C0; }

.dib-language-wrap div {
  display: inline-block; }

.dib-language-wrap .bb-select-lang {
  width: 45px; }

.contract-name-div span {
  display: inline-block;
  padding-right: 50px;
  color: #606060; }

.translated-fields {
  margin-top: 30px; }

.items-translate {
  font-size: 18px;
  line-height: 30px;
  margin-top: 30px;
  min-height: 80px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #EBEBEB; }

.translated-fields .row {
  background: #fff;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 30px;
  padding-top: 5px; }

.translated-fields hr {
  margin: 0; }

.translated-fields h3 {
  background: #fff;
  width: calc(100% / 2);
  float: left;
  padding-top: 30px;
  font-size: 28px;
  font-weight: normal; }

.translated-fields .sided-check-wrap {
  margin: 0;
  padding: 5px 0 !important;
  /*float: left;*/
  /*.styled-input-check{}*/ }

.translated-fields .saveCancel-wrapper {
  background: #fff;
  margin: 0;
  padding: 40px 5px; }
  .translated-fields .saveCancel-wrapper .sided-check-wrap label {
    padding: 5px 30px; }

.checkbox-div {
  margin-top: 20px; }
  .checkbox-div p {
    margin-top: 20px;
    display: none; }
    .checkbox-div p input {
      display: block;
      width: 100%;
      border: 1px solid #1462A4;
      border-radius: 4px;
      padding: 10px 15px; }

#term-time-select {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #1462A4; }

.login-max {
  max-width: 420px;
  width: 420px; }
  .login-max .input-group-addon {
    display: none; }
  .login-max .input-group {
    display: block;
    width: 100%; }
  .login-max input[type="text"], .login-max input[type="password"] {
    display: block;
    width: 100%;
    font-size: 18px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #C0C0C0;
    border-radius: 0;
    padding: 19px 0;
    margin-top: 30px; }

.login-help {
  display: block;
  text-align: right;
  margin-top: 12px; }

.forgot_pass {
  padding-top: 20px; }

.flag-text {
  margin-left: 10px; }

.new-system-lang-wrap .bb-select-wrapper {
  margin-top: 70px; }

.new-system-lang-wrap .bold-label {
  font-weight: normal; }

.new-system-lang-wrap h3 {
  font-weight: normal;
  font-size: 28px; }

.new-system-lang-wrap h1 {
  margin-top: 30px; }

.new-system-lang-wrap .saveCancel-wrapper {
  margin-top: 60px; }

.sided-button-wrap {
  margin-top: 80px; }
  .sided-button-wrap .sided-button-item span {
    display: inline-block;
    min-width: 150px;
    float: left;
    line-height: 38px;
    font-size: 20px; }
  .sided-button-wrap .saveCancel-wrapper {
    text-align: left; }

.activated-lang-list {
  padding: 20px 40px; }

.contract-progress-main {
  margin-top: 50px; }
  .contract-progress-main .progress-cols {
    min-height: 290px;
    height: 290px;
    padding: 30px 50px; }
  .contract-progress-main #prg-col-1 h2 {
    text-align: center;
    margin-top: 20px;
    font-style: italic; }
  .contract-progress-main #prg-col-2 h3 {
    font-size: 30px;
    font-weight: 400; }
  .contract-progress-main #prg-col-2 p {
    margin-top: 20px;
    font-size: 20px; }
  .contract-progress-main #prg-col-2 .progress {
    height: 40px;
    margin-top: 30px; }
    .contract-progress-main #prg-col-2 .progress .progress-bar {
      background: #AEDD94; }
  .contract-progress-main #prg-col-2 .bb-select-lang {
    padding: 0 0 5px;
    float: right; }
  .contract-progress-main #prg-col-2 .bold-label {
    font-weight: normal;
    font-size: 20px; }
  .contract-progress-main h2 {
    margin-top: 70px;
    margin-bottom: 70px; }

.needed-information .col-sm-6 {
  margin-bottom: 20px; }

.needed-information .explain-block-title-active + div {
  margin-bottom: 30px; }

.needed-information .explain-block-title h3 {
  font-size: 26px;
  font-weight: normal; }

.needed-information .sett-current-status {
  min-height: inherit;
  padding: 40px 0; }
  .needed-information .sett-current-status .slider:before {
    background: #2196F3; }
  .needed-information .sett-current-status .slider.round {
    max-width: 40px; }
  .needed-information .sett-current-status input:checked + .slider {
    background: #90CAF9; }
    .needed-information .sett-current-status input:checked + .slider:before {
      -webkit-transform: translateX(15px);
      -ms-transform: translateX(15px);
      transform: translateX(15px); }
  .needed-information .sett-current-status .sett-current-flex {
    margin-top: inherit; }
    .needed-information .sett-current-status .sett-current-flex .sett-user-stat {
      margin-top: inherit; }
      .needed-information .sett-current-status .sett-current-flex .sett-user-stat + span {
        float: right; }
      .needed-information .sett-current-status .sett-current-flex .sett-user-stat mark {
        max-width: 480px; }
    .needed-information .sett-current-status .sett-current-flex span {
      margin-top: inherit; }

.needed-information .bb-select {
  padding: 8px 2px;
  margin-left: 0;
  font-size: 16px; }

.needed-information .add-author-rep .bb-select {
  float: right; }

.needed-information .explain-block {
  margin-right: -20px; }

.search-div {
  position: relative; }
  .search-div input {
    padding-left: 30px;
    padding-bottom: 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 2px solid #C0C0C0; }
  .search-div span.fa-search {
    font-size: 20px;
    color: #C0C0C0;
    position: absolute; }
  .search-div + .sett-current-status {
    margin-top: 15px; }
    .search-div + .sett-current-status .sett-current-flex span {
      margin-top: -7px; }

.f-with-inp-wrap {
  margin-top: 22px; }
  .f-with-inp-wrap input {
    display: block;
    width: 100%; }
  .f-with-inp-wrap .bb-select {
    width: 100%; }

.seperated-inps-wrap {
  margin-top: 22px; }
  .seperated-inps-wrap div {
    display: inline-block; }
    .seperated-inps-wrap div input {
      width: 100%; }
    .seperated-inps-wrap div:last-child {
      float: right; }

.right-inps .bold-label {
  font-weight: normal;
  font-size: 16px; }

.add-inp-field {
  display: block;
  text-align: center; }
  .add-inp-field img {
    max-width: 25px; }

.individual-info-wrap {
  margin-top: 70px; }
  .individual-info-wrap .explain-block-title h3 {
    font-size: 28px;
    font-weight: normal; }
  .individual-info-wrap .individual-item {
    height: 72px;
    font-size: 24px;
    border-radius: 4px;
    border: 2px solid #EBEBEB;
    padding: 20px 15px;
    text-align: center;
    margin-top: 30px; }
    .individual-info-wrap .individual-item.description {
      height: inherit !important; }
    .individual-info-wrap .individual-item input {
      text-align: center;
      max-width: 100%;
      border: none; }
    .individual-info-wrap .individual-item textarea {
      text-align: center;
      font-size: 18px;
      height: 100%;
      padding: 15px;
      max-width: 100%;
      width: 100%;
      border: none; }

#contract-progress-step-2 .bold-label {
  font-size: 16px;
  font-weight: normal; }

#step2-col-gray {
  text-align: center;
  background: #C0C0C0; }

.save-and-send-contract-wrap {
  margin-top: 70px; }
  .save-and-send-contract-wrap .sett-current-status {
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 30px;
    color: #000000;
    font-weight: bold;
    background: #F7F6F6;
    min-height: inherit;
    padding: 5px 15px; }
    .save-and-send-contract-wrap .sett-current-status .sett-current-flex {
      margin-top: 0; }
      .save-and-send-contract-wrap .sett-current-status .sett-current-flex .fl-span, .save-and-send-contract-wrap .sett-current-status .sett-current-flex .slider {
        margin-top: 10px;
        padding-left: 25px; }
    .save-and-send-contract-wrap .sett-current-status .sett-user-stat {
      font-size: 16px;
      line-height: 25px; }
  .save-and-send-contract-wrap h3 {
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px; }

.gray-fullwidth {
  background: #EBEBEB; }
  .gray-fullwidth .fl-span {
    float: left; }

.signature-col label {
  display: block;
  font-size: 18px;
  color: #606060; }

.signature-col input {
  border: none;
  border-bottom: 2px solid #C0C0C0;
  padding-top: 50px;
  padding-bottom: 5px;
  width: 100%; }

.signature-col .autorized-signature {
  color: #C0C0C0;
  font-size: 16px;
  margin-top: 8px; }

.signature-col .bb-select-wrapper label {
  float: left; }

.signature-col .f-with-inp-wrap {
  margin-top: 0; }

.signature-col .bb-select {
  margin-left: 0; }

.big-blue-button {
  background: #1462A4;
  color: #fff;
  width: 100%;
  margin-top: 30px; }

.signature-right-col {
  border-left: 1px solid #606060;
  padding-left: 20px; }
  .signature-right-col h4 {
    font-size: 17px;
    color: #606060;
    margin-top: 20px; }
  .signature-right-col p {
    line-height: 20px;
    font-size: 17px;
    color: #606060; }

.blue-block-wrapper {
  max-width: 1366px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 40px; }

.inactive_contract .blue-bordered-a {
  border: 2px solid #B5C0C9;
  cursor: not-allowed; }
  .inactive_contract .blue-bordered-a p {
    font-size: 23px;
    color: #B5C0C9; }

.blue-bordered-a {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  min-height: 210px;
  width: 100%;
  margin-top: 50px;
  padding: 30px 15px;
  background: #fff;
  border: 2px solid #1462A4;
  border-radius: 8px; }
  .blue-bordered-a:hover {
    border-color: #EBEBEB;
    -webkit-box-shadow: inset 0 0 12px 1px #0b5b73;
    box-shadow: inset 0 0 12px 1px #0b5b73; }
  .blue-bordered-a p {
    font-size: 26px;
    font-weight: bold;
    color: #080808;
    margin-top: 20px;
    line-height: 32px; }
    .blue-bordered-a p span {
      font-size: 24px;
      display: block;
      font-weight: lighter; }
  .blue-bordered-a.contract_link {
    height: 210px; }
    .blue-bordered-a.contract_link p {
      height: 210px;
      font-size: 23px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }

#contract_content {
  height: 700px; }

.copy_row {
  padding-bottom: 0;
  padding-top: 5px;
  text-align: center;
  margin-bottom: -14px; }
  .copy_row .copy {
    font-size: 23px;
    cursor: pointer; }

.pagination a:hover:not(.active) {
  background-color: #ddd; }

.pagination {
  display: inline-block; }

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
  border: 1px solid #ddd; }

/*.spec_fields{
	width: 85%;
}*/
.contract-sign-main h1 {
  text-align: center; }
  .contract-sign-main h1 span {
    display: block;
    margin-top: 40px; }

.contract-sign-main .bb-select-wrapper select {
  width: 60%;
  float: right;
  font-weight: bolder; }

.contract-sign-main .bb-select-wrapper label {
  margin-top: 10px; }

.contract-sign-main .saveCancel-wrapper {
  margin: 80px 0 0; }
  .contract-sign-main .saveCancel-wrapper button {
    min-width: 150px; }

.bb-wrappers {
  margin-top: 120px; }

.future-editable {
  padding-top: 30px;
  margin-top: 60px;
  min-height: 400px;
  background: #fff; }
  .future-editable p {
    font-weight: bolder;
    font-size: 18px;
    text-align: center; }

.second_block {
  padding-top: 56px; }

.contract-sent-main .contract-progress-main #prg-col-2 {
  padding: 30px; }
  .contract-sent-main .contract-progress-main #prg-col-2 p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 20px; }

.contract-sent-main .big-blue-button {
  margin-top: 80px; }

.contract-sent-main .vivod {
  padding-right: 50px; }
  .contract-sent-main .vivod p {
    font-weight: bolder; }
    .contract-sent-main .vivod p span {
      display: inline-block;
      margin-left: 10px;
      font-weight: normal; }

.vivod {
  margin-bottom: 20px; }

.result_list {
  width: 100%;
  padding: 15px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden; }
  .result_list li {
    margin-top: 1px;
    background: #F7F6F6;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    padding: 10px 15px;
    color: #333333; }
    .result_list li:hover {
      color: #1462A4;
      padding-left: 20px; }

.usermenu-sidebar-wrap .panel-title a {
  line-height: 50px; }
  .usermenu-sidebar-wrap .panel-title a img {
    margin-right: 10px;
    display: inline-block;
    float: left;
    width: 50px; }

.usermenu-sidebar-wrap .panel-title hr {
  max-width: 200px;
  border-top: 2px solid #6D9DC7; }

.concluded-wrapper .bg-white {
  margin-top: 40px; }

.concluded-wrapper .dataTables_filter button {
  border: 1px solid #EBEBEB;
  border-radius: 10px;
  padding: 6px 15px; }

.concluded-wrapper .dataTables_filter .form-control {
  border: 1px solid #EBEBEB;
  border-radius: 15px; }
  .concluded-wrapper .dataTables_filter .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }

.concluded-wrapper h3 {
  display: inline-block; }

.download-all-pdf {
  text-align: right;
  margin-top: -40px; }
  .download-all-pdf a img {
    max-width: 40px;
    border-radius: 3px; }

.multyselect-in-conclude {
  display: inline-block;
  float: right; }
  .multyselect-in-conclude .select2-container .select2-selection {
    padding: 0; }
  .multyselect-in-conclude p {
    margin-bottom: 10px;
    text-align: left;
    text-transform: capitalize;
    font-size: 18px; }

#color-scheme {
  background: #fff;
  -webkit-box-shadow: 0 5px 6px 1px #C0C0C0;
  box-shadow: 0 5px 6px 1px #C0C0C0;
  position: absolute;
  min-height: 50px;
  right: 0;
  margin-top: 1px;
  z-index: 20;
  min-width: 350px;
  max-width: 100%;
  padding: 30px 20px; }
  #color-scheme P {
    display: inline-block;
    min-width: 120px;
    font-size: 15px; }
  #color-scheme select {
    width: 100%;
    margin-left: 15px;
    padding: 5px; }
  #color-scheme .ff-flex p {
    line-height: 30px; }

.ff-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

#color-label-1 .span-bg1 {
  background-color: #90CBF9; }

#color-label-1 .span-bg2 {
  background-color: #BDD9A0; }

#color-label-2 .span-bg1 {
  background-color: #9FA8DA; }

#color-label-2 .span-bg2 {
  background-color: #FF9FC0; }

#color-label-3 .span-bg1 {
  background-color: #9FA8DA; }

#color-label-3 .span-bg2 {
  background-color: #90CBF9; }

#color-label-4 .span-bg1 {
  background-color: #AC9D99; }

#color-label-4 .span-bg2 {
  background-color: #90CBF9; }

#color-label-5 .span-bg1 {
  background-color: #90CBF9; }

#color-label-5 .span-bg2 {
  background-color: #9FA8DA; }

#color-label-6 .span-bg1 {
  background-color: #AFBEC5; }

#color-label-6 .span-bg2 {
  background-color: #F29C9A; }

#color-label-7 .span-bg1 {
  background-color: #AC9D99; }

#color-label-7 .span-bg2 {
  background-color: #BDD9A0; }

#color-label-8 .span-bg1 {
  background-color: #9FA8DA; }

#color-label-8 .span-bg2 {
  background-color: #BDD9A0; }

#color-label-9 .span-bg1 {
  background-color: #fff;
  border: 1px solid #EBEBEB; }

#color-label-9 .span-bg2 {
  background-color: #1462A4;
  border: 1px solid #1462A4; }

.colors-block-wrap {
  margin-top: 30px; }
  .colors-block-wrap .colors-block {
    margin-top: 15px; }
    .colors-block-wrap .colors-block .col-sm-4 input {
      position: absolute;
      visibility: hidden; }
      .colors-block-wrap .colors-block .col-sm-4 input:checked + label:before {
        content: url("../images/check2.png");
        display: block;
        max-width: 100%;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); }
    .colors-block-wrap .colors-block .col-sm-4 label {
      position: relative;
      display: inline-block;
      height: 25px;
      min-width: 50px;
      margin-top: -7px;
      margin-bottom: 25px; }
      .colors-block-wrap .colors-block .col-sm-4 label div {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .colors-block-wrap .colors-block .col-sm-4 label div span {
          display: block;
          width: 100%; }

.slide-cont .contract-progress-main #prg-col-2 .bb-select-wrapper {
  margin-top: 20px;
  display: inline-block; }
  .slide-cont .contract-progress-main #prg-col-2 .bb-select-wrapper .bb-select-lang {
    float: none; }

.slide-cont .contract-progress-main #prg-col-2 p {
  font-size: 18px;
  line-height: 22px; }

.slide-cont .contract-progress-main #prg-col-2 .progress {
  margin-top: 20px; }

.slide-cont .gray-title-explaine {
  margin: -20px -20px 40px; }

.slide-cont .needed-information .sett-current-status {
  padding: 15px 0; }

.slide-cont .add-inp-field {
  margin-top: 30px; }

.slide-cont .sett-user-stat {
  max-width: 820px;
  display: table; }

.gray-title-explaine {
  line-height: 22px;
  padding: 24px 20px;
  color: #AAAAAA;
  background: #F7F6F6; }
  .gray-title-explaine span {
    display: inline-block;
    margin-right: 15px;
    font-size: 24px;
    color: #AAAAAA;
    float: left;
    line-height: 45px; }
  .gray-title-explaine.wide span {
    line-height: inherit; }

.relevant-translations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .relevant-translations div {
    position: relative;
    width: 100%;
    padding-right: 22px; }
    .relevant-translations div.gr-1 p + span {
      width: 95%;
      display: block;
      border: 1px solid #C0C0C0;
      bottom: 0; }
    .relevant-translations div.gr-2 {
      border-left: 2px solid #C0C0C0;
      padding-left: 22px; }
      .relevant-translations div.gr-2 p + span {
        width: 95%;
        right: 0;
        display: block;
        border: 1px solid #C0C0C0;
        bottom: 0; }
    .relevant-translations div p {
      min-height: 70px;
      position: relative;
      line-height: 22px;
      font-size: 18px;
      color: #606060;
      margin-bottom: 20px; }
  .relevant-translations h4 {
    float: right;
    margin-right: 22px;
    margin-top: 10px;
    color: #C0C0C0; }
  .relevant-translations .bb-select {
    width: 88%; }

textarea.bb-select {
  width: 100%; }

#slide-2 .bg-white {
  margin-top: 70px; }

#slide-3 .bg-white {
  margin-top: 70px; }

#slide-3 .gray-title-explaine + p {
  line-height: 22px;
  font-size: 18px;
  color: #606060; }

.category-h4 .sett-current-flex {
  margin-top: 35px !important; }

.category-h4 .sett-user-stat {
  line-height: 22px; }
  .category-h4 .sett-user-stat + span {
    margin-top: -20px !important; }

.category-h4 mark {
  background: transparent;
  display: block;
  margin-left: 95px; }

.specify-wrap .needed-information .sett-current-status .sett-current-flex {
  border-bottom: 2px solid #C0C0C0;
  padding-bottom: 10px;
  margin-top: 10px; }
  .specify-wrap .needed-information .sett-current-status .sett-current-flex .sett-user-stat + span {
    position: absolute;
    right: 0;
    margin-top: -16px; }

.specify-wrap-no-border .needed-information .sett-current-status .sett-current-flex {
  border: none;
  /*.sett-user-stat{
					& + span{
						position: absolute;
						right: 0;
						margin-top: -16px;
					}
				}*/ }

#slide-4 .bg-white {
  margin-top: 70px; }

#slide-4 .gray-title-explaine + p {
  line-height: 22px;
  font-size: 18px;
  color: #606060; }

#slide-4 .bb-select {
  margin-left: 0; }

#slide-4 .f-with-inp-wrap + .needed-information {
  margin-top: -20px;
  display: inline-block;
  position: absolute;
  right: 0; }

#slide-4 .bolder-p {
  margin-top: 30px; }

.bolder-p {
  line-height: 22px;
  font-size: 18px;
  color: #606060; }

.inline_more_fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .inline_more_fields .individ-inp-div {
    width: 100%; }
    .inline_more_fields .individ-inp-div h4 {
      float: right;
      margin-right: 24px;
      margin-top: 10px;
      color: #C0C0C0; }
    .inline_more_fields .individ-inp-div input {
      margin-top: 0 !important;
      padding: 15px 0 0 !important; }
  .inline_more_fields .individ-inp-div:first-child {
    margin-right: 30px; }
  .inline_more_fields .individ-inp-div:nth-child(2) {
    margin-left: 30px; }
  .inline_more_fields .drop_category {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -33px;
    margin-top: 22px;
    color: #2196F3;
    font-size: 20px;
    cursor: pointer; }

.additional-info-wrap {
  margin-top: 40px; }
  .additional-info-wrap .for-right {
    margin-top: -15px !important;
    position: absolute;
    right: 0; }
  .additional-info-wrap .sett-current-flex:first-child .individ-inp-div input {
    margin-top: 30px;
    border: none;
    border-bottom: 2px solid;
    width: 100%;
    max-width: 90%;
    padding: 15px 0 0;
    line-height: 20px; }
  .additional-info-wrap .sett-current-flex:first-child .individ-inp-div hr {
    margin: 0; }
  .additional-info-wrap .individ-inp-div input {
    border: none;
    border-bottom: 2px solid;
    width: 100%;
    max-width: 90%;
    line-height: 20px; }
  .additional-info-wrap .individ-inp-div hr {
    margin: 0; }
  .additional-info-wrap .sett-current-flex {
    border: none !important;
    margin-top: 40px !important; }

#slide-5 .bg-white {
  margin-top: 70px; }

.disabled {
  opacity: 0.1;
  pointer-events: none; }

.sett-current-status-no-border .sett-current-flex {
  border: none !important; }

.select2-container .select2-selection--single {
  height: 35px !important; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px !important; }

.pagination-in-save {
  float: left;
  margin-left: 50px; }

.profile-img-a {
  background-size: cover !important;
  background-position: center center !important;
  display: inline-block;
  max-width: 100%;
  border-radius: 100%;
  width: 140px;
  height: 133px; }

.sidebar-min-div {
  border-top: 2px solid #C0C0C0;
  padding-top: 15px;
  position: absolute;
  right: 20px;
  bottom: 20px; }
  .sidebar-min-div div {
    display: inline-block; }
    .sidebar-min-div div:first-child {
      color: #fff;
      float: left;
      line-height: 22px;
      font-size: 18px;
      margin-right: 15px; }
    .sidebar-min-div div img {
      max-width: 22px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px; }
    .sidebar-min-div div a {
      padding: 0; }

.sidebar-minimised .panel-title a {
  margin-top: 40px; }
  .sidebar-minimised .panel-title a span {
    display: none; }
  .sidebar-minimised .panel-title a[aria-expanded="true"] {
    position: relative; }
    .sidebar-minimised .panel-title a[aria-expanded="true"]:before {
      font-family: fontAwesome;
      content: "\f105";
      position: absolute;
      right: 10px;
      font-size: 28px;
      /*content: "";
					position: absolute;
					right: -15px;
					font-size: 28px;
					display: block;
					width: 112px;
					height: 70px;
					background: #fff;
					opacity: 0.8;
					top: 0;*/ }

.sidebar-minimised .panel-title hr {
  display: none; }

.sidebar-minimised .sidebar-min-div {
  float: none; }
  .sidebar-minimised .sidebar-min-div div {
    display: block;
    text-align: center; }
    .sidebar-minimised .sidebar-min-div div:first-child {
      display: none; }

.sidebar-minimised .panel-collapse {
  padding: 0;
  position: fixed;
  border: 1px solid #EBEBEB;
  z-index: 999;
  background: white;
  top: 110px;
  left: 112.417px;
  min-height: 100%;
  min-width: 230px; }
  .sidebar-minimised .panel-collapse table tr td {
    padding: 0; }
    .sidebar-minimised .panel-collapse table tr td a {
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      color: #2196F3; }
      .sidebar-minimised .panel-collapse table tr td a.active {
        background: #A6C4DC;
        color: #ffff; }
      .sidebar-minimised .panel-collapse table tr td a:hover {
        background: #A6C4DC;
        color: #ffff; }

.sidebar-minimised .row.main-row {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
  overflow: hidden; }

.sidebar-minimised .minimise-sdb-a {
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  position: relative; }
  .sidebar-minimised .minimise-sdb-a:before {
    position: absolute;
    display: block;
    content: url("http://contracttool.dev/images/full-sdb.png");
    right: 30px;
    width: 22px;
    height: 22px;
    border-radius: 20px; }
  .sidebar-minimised .minimise-sdb-a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1); }

.progress-cols h2 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 0; }

#c_header label, #t_header label {
  padding: 15px 0; }

#c_footer label, #t_footer label {
  padding: 15px 0; }

.set_primary {
  margin-top: 12px; }

.simplify-ul {
  margin-top: 20px; }
  .simplify-ul input[type="text"] {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px 10px;
    border: 1px solid #C0C0C0;
    border-radius: 4px; }

#locationInfo.modal .modal-body, #repInfo.modal .modal-body, #empInfo.modal .modal-body, #dprInfo.modal .modal-body, #subProcessorInfo.modal .modal-body {
  max-width: 640px;
  margin: auto; }
  #locationInfo.modal .modal-body ul li, #repInfo.modal .modal-body ul li, #empInfo.modal .modal-body ul li, #dprInfo.modal .modal-body ul li, #subProcessorInfo.modal .modal-body ul li {
    border-bottom: 1px solid #F7F6F6;
    padding: 5px; }
    #locationInfo.modal .modal-body ul li strong, #repInfo.modal .modal-body ul li strong, #empInfo.modal .modal-body ul li strong, #dprInfo.modal .modal-body ul li strong, #subProcessorInfo.modal .modal-body ul li strong {
      color: #606060;
      font-weight: bold;
      display: inline-block;
      min-width: 200px;
      line-height: 22px; }
    #locationInfo.modal .modal-body ul li span, #repInfo.modal .modal-body ul li span, #empInfo.modal .modal-body ul li span, #dprInfo.modal .modal-body ul li span, #subProcessorInfo.modal .modal-body ul li span {
      float: right;
      color: #2196F3;
      line-height: 22px;
      font-size: 16px; }

#locationInfo.modal .modal-header, #repInfo.modal .modal-header, #empInfo.modal .modal-header, #dprInfo.modal .modal-header, #subProcessorInfo.modal .modal-header {
  border: none; }

#locationInfo.modal .modal-footer .btn, #repInfo.modal .modal-footer .btn, #empInfo.modal .modal-footer .btn, #dprInfo.modal .modal-footer .btn, #subProcessorInfo.modal .modal-footer .btn {
  min-width: 100px;
  color: #fff;
  border-radius: 4px;
  margin-right: 10px;
  background: #AEDD94;
  border: 1px solid #AEDD94; }
  #locationInfo.modal .modal-footer .btn[data-dismiss="modal"], #repInfo.modal .modal-footer .btn[data-dismiss="modal"], #empInfo.modal .modal-footer .btn[data-dismiss="modal"], #dprInfo.modal .modal-footer .btn[data-dismiss="modal"], #subProcessorInfo.modal .modal-footer .btn[data-dismiss="modal"] {
    background: #FF5D55;
    border: 1px solid #FF5D55; }

@-moz-document url-prefix() {
  .bb-select-wrapper select {
    padding-right: 25px;
    background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/> </svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) 50%;
    -moz-appearance: none;
    appearance: none; }
  .bb-select-lang {
    padding-right: 25px;
    background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/> </svg>");
    background-repeat: no-repeat;
    background-position: calc(100% - 7px) 50%;
    -moz-appearance: none;
    appearance: none; } }

input#contract_name {
  font-size: 18px; }

.bb-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .bb-flex span {
    width: 100%; }
  .bb-flex .bb-select {
    width: 100%; }

.navbar-header {
  position: relative; }
  .navbar-header .minimise-sdb-a {
    color: #1462A4;
    font-size: 35px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -40px;
    margin-right: -20px; }

.lng-select-wrap {
  margin-top: 20px;
  text-align: right; }
  .lng-select-wrap > span {
    font-size: 18px; }

.spec_group .div-wrapper-for-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  text-align: left;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  white-space: normal;
  float: none;
  overflow: inherit; }
  .spec_group .div-wrapper-for-x span {
    width: calc(100% / 2);
    display: inline-block;
    min-height: 36px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #EBEBEB;
    font-size: 14px;
    text-align: center;
    padding: 10px; }
  .spec_group .div-wrapper-for-x i.remove-field {
    right: -3px;
    top: -5px; }

.subject input[name="subject"] {
  width: 100%;
  line-height: 20px;
  padding: 10px 5px;
  border: 1px solid #EBEBEB; }

#include-header {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 5px; }

#include-footer {
  margin-bottom: 20px;
  margin-top: 10px;
  margin-right: 5px; }

select#choose_contract {
  max-width: 921.75px; }

/*
* Ie fixes
*/
@media screen and (max-width: 1366px) {
  .sidebar-wrapper a {
    font-size: 17px; }
  table td {
    font-size: 15px; }
    table td span {
      font-size: 17px !important;
      padding: 0 6px; }
  table th {
    font-size: 15px; }
  h1 {
    font-size: 28px; }
  .ind-inp {
    max-width: 810px !important; }
  .sett-current-status .sett-user-stat {
    font-size: 16px;
    max-width: 810px; }
  td.actions span {
    padding: 2px; }
  .main-container-right table {
    table-layout: fixed; }
    .main-container-right table tbody tr td {
      font-size: 15px; }
      .main-container-right table tbody tr td[data-col="contract_name"] {
        line-height: 16px; }
      .main-container-right table tbody tr td[data-col="type"] {
        line-height: 16px; }
  #locations_wrapper table {
    table-layout: inherit; } }

@media (min-width: 768px) {
  .modal-dialog {
    width: 768px; } }



.loader-wrapper{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.loader-wrapper > div {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 15%;
}

.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.lds-spinner div {
  transform-origin: 100px 100px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 10px;
  left: 90px;
  width: 14px;
  height: 45px;
  border-radius: 20%;
  background: #cccccc;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
