//
// responsive css
// --------------------------------------------


@media screen and (max-width: 1366px){
  .sidebar-wrapper{
    a{
      font-size: 17px;
    }
  }
  table{
    td{
      font-size: 15px;
      span{
        font-size: 17px !important;
        padding: 0 6px;
      }
    }
    th{
      font-size: 15px;
    }
  }
  h1{
    font-size: 28px;
  }
  .ind-inp{
    max-width: 810px !important;
  }
  .sett-current-status{
    .sett-user-stat{
      font-size: 16px;
      max-width: 810px;
    }
  }
  .specify-wrap .needed-information .sett-current-status .sett-current-flex{
    //border-bottom: 1px solid $middle-gray;
  }
}

@media (min-width: 768px){
  .modal-dialog {
    width: 768px;
  }
}
