/*
	cdCss functions
	--------------------
*/

@mixin middle() {
	&:after {
    content: '';
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    }
}

@mixin clear() {
	&:after {
    content: "";
    display: table;
    clear: both;
    }
}





$main-blue: #1462A4;
$light-blue: #2196F3;
$dark-gray: #606060;
$middle-gray: #C0C0C0;
$gray-for-title: #AAAAAA;
$light-gray: #EBEBEB;
$light-gray-lighter: #F7F6F6;
$main-red: #FF5D55;
$main-green: #AEDD94;
$submenu-color: #B5CDE2;
$white: #fff;


/*
Color scheme color variables*/
$c-scheme-light-blue: #90CBF9;
$c-scheme-green: #BDD9A0;
$c-scheme-violet: #9FA8DA;
$c-scheme-pink: #FF9FC0;
$c-scheme-brown: #AC9D99;
$c-scheme-red: #F29C9A;
$c-scheme-gray: #AFBEC5;


$fw: 100%;
