html{
	height: 100%;
}
body{
	height: 100%;
	font-family: arial;
	background: $light-gray;
}
a{
	text-decoration: none !important;
}

/* Helpers */

.bg-white{
	background: $white;
	& > .explain-block{
		margin-right: -20px;
	}
}

.padding-20{
	padding: 20px;
}

.no-padding{
	padding: 0 !important;
}

.no-margin{
	margin: 0 !important;
}

.mt80{
	margin-top: 80px;
}

.mt70{
	margin-top: 70px;
}

.mt30{
	margin-top: 30px !important;
}

.mt50{
	margin-top: 50px;
}

.mr80{
	margin-right: 80px;
}

.show{
	display: block;
}

.hide{
	display: none;
}

h1{
	font-size: 30px;
	color: #000;
	font-weight: bolder;
	letter-spacing: 1px;
}
h3{
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 1px;
}
h2{
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 1px;
}
label{
	min-width: 110px;
	cursor: pointer;
}

.bold-label{
	font-size: 21px;
	font-weight: 600;
}

.lang-label{
	font-size: 21px;
}

.bold-label-small{
	font-size: 18px;
	font-weight: 400;
}

select{
	cursor: pointer;
}

.bb-select-wrapper{
	margin-top: 30px;
}

.bb-select{
	background: transparent;
	padding: 5px;
	margin-left: 15px;
	font-size: 14px;
	width: 215px;
	border: none;
	border-bottom: 2px solid $middle-gray;
}

.bb-select-lang{
	background: transparent;
	padding: 5px 0;
	margin-left: 15px;
	font-weight: 600;
	width: 70px;
	border: none;
	border-bottom: 2px solid $middle-gray;
}

.bb-select-contr{
	background: transparent;
	padding: 5px;
	margin-left: 15px;
	font-size: 14px;
	width: 190px;
	border: none;
	border-bottom: 2px solid $middle-gray;
}

/* Helpers end*/

/*.main-wrapper{
	.main-row{
	}
}*/

.navbar-brand{
	position: relative;
	display: inline-block;
	padding: 0;
}
.navbar{
	margin-bottom: 0;
	border: none;
}
.navbar-default{
	padding: 15px;
	background: $white;
}
.navbar-right{
	.fa{
		line-height: 50px;
		font-size: 39px;
	}
	.header-portret{
		a{
			&.header-avatar{
				cursor: pointer;
				border: 1px solid $middle-gray;
				display: inline-block;
				width: 50px;
				height: 50px;
				margin-top: 10px;
				border-radius: 100%;
				overflow: hidden;
				background-position: center center !important;
				-webkit-background-size: cover !important;
				background-size: cover !important;
			}
		}
	}
}

img[alt="full.png"]{
	transition: all 0.1s;
	width: 50px;
	&:hover{
		transform: scale(1.1);
		margin-top: -1px;
	}
}

.navbar-nav{
	li{
		&:first-child{
			a#fullScreen-a{
				width: 60px;
				height: 60px;
				display: inline-block;
				overflow: hidden;
			}
		}
		&:nth-child(2){
			a{
				span.fa{
					transition: all 0.3s;
				}
				&:hover{
					span{
						transform: rotate(30deg);
					}
				}
			}
		}
	}
}

/*sidebar wrapper*/
.sidebar-wrapper{
	overflow: hidden;
	min-height: 100%;
	background: $main-blue;
	.panel-body{
		border: none !important;
	}
	.panel-default{
		& > {
			.panel-heading{
				background: transparent;
				padding: 0;
			}
		}
	}
	.panel{
		border: none;
		border-radius: 0;
		background: transparent;
	}

	td{
		border: none !important;
	}
	a{
		font-size: 20px;
		display: block;
		width: 100%;
		padding: 10px 15px;
	}
	.panel-title{
		a{
			color: $white;
			line-height: 50px;
			img{
				margin-right: 10px;
				display: inline-block;
				float: left;
				width: 50px;
			}
		}
	}

	.panel-body{
		padding: 0;
		table{
			margin-bottom: 0;
			tr{
				td{
					padding-left: 50px;
					color: $white;
					a{
						color: $submenu-color;
					}
				}
			}
		}
	}
	.fa, .glyphicon{
		margin-right: 10px;
		display: inline-block;
		float: left;
		min-height: 40px;
	}
	.home-link{
		padding: 10px 0;
		margin-top: 5px;
	}
}/*Sidebar Wrapper end*/

.main-container-right{
	padding: 30px;
	padding-bottom: 0;
	min-height: 100%;
	.steps-button-wrap{
		margin-top: 50px;
	}
}

/*login*/
.login-form-wrapper{
	border-radius: 0;
	.panel-body{
		padding: 30px;
		#btnLogin{
			width: 100%;
			margin-top: 50px;
			background: $light-blue;
			color: $white;
			border-radius: 2px;
			padding: 12px;
			i{
				margin-left: 10px;
				color: $light-blue;
			}
		}
	}
	h1{
		padding: 0;
		color: $white;
	}
	.panel-heading{
		/*background: $main-blue;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding-left: 30px;*/
		display: none;
	}
}
.m-auto-height{
	height: 100%;
	display: flex;
}

.m-auto{
	display: inline-block;
	margin: auto;
}

.dashboard-alert{
	border-radius: 4px;
	color: #fff;
	background: #0098A6;
	padding: 10px;
	text-align: center;
	a{
		font-weight: bold;
		color: #fff;
		&.fa-close{
			float: right;
			font-weight: normal;
		}
	}
}

#for_company_admin{
	.for-flex{
		display: flex;
		span{
			width: 100%;
			select{
				margin-left: inherit;
				margin-right: 20px;
				width: 100%;
			}
		}
	}
	.bb-select-wrapper{
		display: flex;
		& > label{
			& + span{
				width: 100%;
				#company{
					width: 100% !important;
				}
			}
		}
	}
}

/*login*/

/*Dropfile wrapper*/

.dropfile-wrapper{
	margin-top: 50px;
	position: relative;
	input{
		position: absolute;
		top: 0;
		opacity: 0;
		width: 100%;
		height: 100%;
	}
	label{
		cursor: pointer;
		border-radius: 4px;
		min-height: 200px;
		background: $white;
		width: 100%;
		border: 2px dashed $main-blue;
		display: flex;
		span{
			margin: auto;
			font-size: 24px;
		}
	}
}

.for-layer-3-4{
	height: 100%;
	.col-sm-6{
		height: 100%;
	}
}
.ui-widget-content{
	height: 100%;
}
.ui-state-highlight{
	height: 100%;
}

#droppable{
	height: 100%;
}

.drag-drop-pairs-wrapper-in{
	height: auto;
	min-height: 200px;
	padding: 30px;
	background: $white;
	h3{
	}
	&.right{
		min-height: 768px;
		position: relative;
		h3{
			font-size: 18px;
			letter-spacing: initial;
		}
	}
}
.inpair-wrap{
	position: relative;
}	

.show-dragables{
	position: absolute;
	z-index: 20;
	right: 0;
	margin-top: -40px;
	background: #f7f6f6;
	border: none;
	font-size: 30px;
	color: #2196F3;
	line-height: 20px;
	font-weight: bold;
}

.hand{
	color: $main-green !important;
}

.cross{
	color: $main-red !important;
}

.close-ax{
	display: block;
	background: $white;
	text-align: right;
	padding: 15px;
	font-size: 24px;
}
.btn-minimize-right{
	padding-bottom: 40px;
}
.editor{
	margin-top: 20px;
}
//.cke_editable {
//	.h-card{
//		position: relative;
//		max-width: 120px;
//		min-height: 36px;
//		margin: 5px;
//		border-radius: 5px;
//		cursor: pointer;
//		display: block;
//		float: left;
//		padding: 10px;
//		border: 1px solid #EBEBEB;
//		text-align: center;
//		text-transform: capitalize;
//		font-size: 14px;
//		white-space: nowrap;
//		overflow: hidden;
//		text-overflow: ellipsis;
//	}
//
//}


.div-wrapper-for-x{
	position: relative;
	width: calc(100% / 3);
	max-width: 120px;
	min-height: 36px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	display: block;
	float: left;
	padding: 10px;
	border: 1px solid $light-gray;
	text-align: center;
	//text-transform: capitalize;
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	i{
		transition: all 0.3s;
		position: absolute;
		opacity: 0;
		&.disable-field{
			left: 5px;
		}
		&.remove-field{
			right: 2px;
			top: 0;
		}
	}
	&:hover{
		i{
			opacity: 1;
			display: block;
		}
	}
}

.dragable-items{
	&.new-field{
		i{
			display: none !important;
		}
	}
}

.explain-block{
	transition: all 0.2s;
	height: 0;
	padding: 0;
	//pointer-events: none;
	text-align: center;
	margin-right: -30px;
	margin-top: 20px;
	background: $light-gray-lighter;
	color: $dark-gray;
	opacity: 0;
	span{
		font-size: 22px;
		margin-right: 10px;
		color: $dark-gray;
	}
	.fa-info-circle{
		cursor: pointer;
	}
}

.lng{
	border-bottom: 2px solid #C0C0C0;
	margin-left: 40px;
}

.explain-block-title-active{
	& + div{
		height: 98px;
		position: relative;
		margin-bottom: 15px;
		z-index: 15;
		opacity: 1;
		padding: 30px 15px;

	}
	h3{
		position: absolute !important;
		width: 100% !important;
		height: 98px !important;
	}
}

.explain-block-title{
	position: relative;
	z-index: 10;
	margin-top: 30px;
	margin-bottom: 20px;
	h3{
		font-size: 18px;
		//max-width: 350px;
		span{
			margin-right: 5px;
			float: left;
			line-height: 18px;
			font-size: 20px;
		}
	}
	.fa-info-circle{
		cursor: pointer;
	}
}

.inmodal-dragable{
	.div-wrapper-for-x{
		box-shadow: 0 0 9px #aedd94;
	}
	input{
		position: relative;
		cursor: pointer;
		& + span{
			cursor: default;
			position: relative;
			top: -2px;
		}
	}

}

.dragable-block{
	.dragable-block-row{
		/*font-size: 0;
		margin-top: 20px;
		display: flex;*/
	}
	span{
		padding: 10px;
		/*position: relative;
		width: calc(100% / 3);
		max-width: 120.3px;
		margin-left: 5px;
		margin-right: 5px;
		border-radius: 5px;
		cursor: pointer;
		flex: 1 0 0;
		padding: 10px;
		border: 1px solid $light-gray;
		text-align: center;
		text-transform: capitalize;
		font-size: 14px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;*/
		&.h-card.editable:hover {
			i{
				display: block;
			}
		}
		i{
			position: absolute;
			display: none;
		}
	}
}

.div-for-new-item-wrap{
	text-align: right;
	clear: both;

}

#editModal{
	.modal-body{
		overflow: hidden;
	}
	.div-wrapper-for-x{
		padding: 10px 5px 10px 20px;
		input{
			float: left;
			margin: 0;
		}
	}
}

.enable-button-wrap{
	clear: both;
	text-align: right;
	.enable_fileds{
		&:hover{
			color: $main-green;
			background: $white;
		}
	}
	button{
		margin-top: 30px;
		font-size: 17px;
		transition: all 0.3s;
		background: $main-green;
		border: 1px solid $main-green;
		color: $white;
		padding: 8px 30px;
		border-radius: 10px;
		&:hover{
			color: #333;
			background-color: #e6e6e6;
			border: 1px solid #adadad;
		}
	}
}

.new-item-plus{
	display: inline-block;
	padding-top: 15px;
	font-size: 35px;
	a{
		padding: 5px;
	}
	img{
		max-width: 30px;
	}
}

.new_language{
	text-align: right;
	padding-top: 40px;
}



.radio-select-wrapper{
	margin-top: 40px;
	box-shadow: 0 2px 12px $dark-gray;
	display: inline-block;
	div{
		position: relative;
		width: 100%;
		display: inline-block;
		background: $white;
		input{
			opacity: 0;
			cursor: pointer;
			position: absolute;
			height: 100%;
			width: 100%;
			display: block;
			&:checked{
				& + label{
					background: $light-blue;
				}
			}
			&.active{
				& + label{
					background: $light-blue;
				}
			}
		}
		label{
			padding-top: 20px;
			padding-bottom: 20px;
			height: 20px;
			background: #FAFAFA;
			width: 100%;
			line-height: 0;
			padding-left: 20px;
		}
	}
}

.saveCancel-wrapper{
	overflow: hidden;
	text-align: right;
	margin: 30px -10px 30px 30px;
	position: relative;
	div{
		display: inline-block;
		button{
			min-width: 100px;
			border: none;
			padding: 10px;
			color: $white;
			border-radius: 4px;
			margin-right: 10px;
			&.save{
				background: $main-green;
				border: 1px solid $main-green;
			}
			&.cancel{
				background: $main-red;
				border: 1px solid $main-red;
			}
			&.go-next{
				background: $white;
				color: $dark-gray;
				border: 1px solid $middle-gray;
			}
			&.close-2{
				background: $white;
				color: $dark-gray;
				border: 1px solid $middle-gray;
			}
		}
	}
	.save{
		background: $main-green;
		min-width: 100px;
		border: none;
		padding: 10px;
		color: $white;
		border-radius: 4px;
		margin-right: 10px;
	}
}




.dt-table{
	margin-top: 70px;
}

td{
	&.status{
		span{
			padding: 4px;
			display: block;
			text-align: center;
			&.inactive{
				color: $white;
				background: $main-red;
			}
			&.active{
				color: $white;
				background: $main-green;
			}
		}
	}
}

td{
	&.actions{
		text-align: center;
		span{
			font-size: 26px;
			color: $dark-gray;
			display: inline-block;
			padding: 0 10px;
			cursor: pointer;
		}
	}
}
.steps-button-wrap{
	overflow: hidden;
	margin-top: 100px;
	button{
		padding: 10px;
		font-size: 18px;
		min-width: 200px;
		background: $main-blue;
		color: $white;
		&#backward{
			display: none;
		}
	}
}

#example_paginate,#example_info,#example_filter,#example_length{
	display: none;
}
#example1_paginate,#example1_info,#example1_filter,#example1_length{
	 display: none;
 }
#example2_paginate,#example2_info,#example2_filter,#example2_length{
	display: none;
}

.dataTables_length{
	color: $dark-gray;
	margin-top: 50px;
	margin-bottom: 50px;
	select{
		margin-left: 10px;
		margin-right: 10px;
		border: none;
		border-bottom: 1px solid $light-gray;
		border-radius: 0;
		font-size: 14px;
	}
}
.dataTables_filter{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: right;
	label{
		width: 80%;
		position: relative;
		&:before{
			color: $dark-gray;
			font-size: 20px;
			line-height: 30px;
			content: '\f002';
			position: absolute;
			font-family: FontAwesome;
			left: 15px;
			bottom: 2px;
		}
	}
	input{
		padding-left: 40px;
		padding-bottom: 8px;
		font-size: 14px;
		border: none;
		border-bottom: 1px solid $light-gray;
		border-radius: 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

}

#table-paginat{
	margin-top: 70px;
	.fa-plus-circle{
		float: right;
		font-size: 50px;
	}
}

.pager{
	li{
		a{
			border: none;
			color: $dark-gray;
			/*span{
				&.fa-angle-right,&.fa-angle-left{
					font-size: 26px;
				}
			}*/
		}
	}
}
/*add-new-company*/
.add-new-company-main{
	background: $white;
	padding: 60px 40px;
	h3{
		font-weight: normal;
	}
}

.full-width-inps{
	input{
		display: block;
		width: 100%;
		margin-top: 30px;
		padding: 10px 0 10px 0;
		border: none;
		border-bottom: 1px solid $middle-gray;
	}
}

.sided-check-wrap{
	margin-top: 30px;
	label{
		border: 2px solid $light-gray;
		color: $dark-gray;
		padding: 10px 30px;
		font-size: 20px;
		border-radius: 4px;
	}
}

.styled-label-check{
	position: relative;
	background: $light-blue;
	min-width: 35px !important;
	padding: 15px !important;
	margin-bottom: -10px;
}

.styled-input-check{
	visibility: hidden;
	&:checked{
		& + .styled-label-check{
			&:before{
				font-family: FontAwesome;
				content: "\2713";
				font-size: 25px;
				font-weight: lighter;
				color: $white;
				position: absolute;
				top: 3px;
				left: 8px;
			}
		}
	}
}

.add-author-rep{
	margin-top: 40px;
	h3{
		color: $dark-gray;
	}
	.bold-label{
		font-weight: normal;
	}
	.bb-select{
		font-size: 18px;
		width: 350px;
	}
}

.representative {
	position: relative;
}
.remove_rep{
	position: absolute;
	top: 0;
	right: 0;
	color: red;
	cursor: pointer;
	border-bottom: 6px solid red;
	width: 20px;
}

.auth_rep{
	//margin-top: 40px;
	input{
		display: block;
		width: 100%;
		margin-top: 30px;
		font-size: 18px;
		padding: 4px 0 4px 0;
		border: none;
		border-bottom: 2px solid $light-gray;
		max-width: 480px;
		color: $dark-gray;
	}
	select{
		margin-left: 0;
		width: 100%;
		max-width: 480px;
		border-bottom: 2px solid $light-gray;
		font-size: 18px;
		color: $dark-gray;
	}
}

.fst-lst-pos{
	margin-top: 40px;
}



.add-some{
	cursor: pointer;
	text-align: center;
	border: 1px solid $middle-gray;
	margin-top: 30px;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 0 3px 8px 0 $light-gray;
	span{
		transition: all 0.3s;
	}
	&:hover{
		.fa-plus{
			transform: rotate(180deg) scale(1.2);
			color: $main-blue;
		}
	}
}


.auth-status{
	margin-top: 40px;
	padding: 15px 0;
	border-bottom: 1px solid $main-blue;
	color: $main-blue;
	text-align: right;
	p{
		font-size: 18px;
		letter-spacing: 1px;
		color: $dark-gray;
	}
	select{
		display: block;
		border: 2px solid $light-gray;
		border-radius: 4px;
		margin-top: 10px;
		padding: 10px;
		width: 100%;
	}
}

.dpo-select{
	select{
		display: block;
		border: 2px solid $light-gray;
		border-radius: 4px;
		margin-top: 10px;
		padding: 10px;
		width: 100%;
	}
}

.add-new-company-form-wrapper{
	.saveCancel-wrapper{
		overflow: hidden;
		text-align: right;
		margin: 70px -10px 30px 30px;
		position: relative;
	}
}

.tar{
	margin-top: 30px;
	label{
		font-size: 14px;
		text-align: right;
		display: block;
		margin-top: 30px;
	}
	input{
		display: block;
		width: 100%;
		padding: 10px 0 10px 0;
		border: none;
		margin-top: 5px;
		border-top: 1px solid #C0C0C0;
	}
}

.new-item-plus-2{
	text-align: center;
	.new-item-plus{
		max-width: 400px;
		margin-top: -50px;
		font-size: 40px;
	}
}

.new-item-plus-2{
	&.user-ed{
		text-align: right;
		.new-item-plus{
			margin-top: 0;
		}
	}
}

/*add-new-company end*/


/*Bug Form*/
.bug-main-wrap{
	position: fixed;
	right: -400px;
	bottom: 0;
	width: 100%;
	max-width: 400px;
	z-index: 1020;
	transition: all 0.5s;
	border: 1px solid  $light-gray;
	box-shadow: 0 0 4px 2px $middle-gray;
	.clickable-bug{
		font-size: 60px;
		cursor: pointer;
		position: absolute;
		left: -48px;
		color: $main-blue;
		img{
			box-shadow: 0 2px 10px 0 $dark-gray;
		}
	}
}

.bug-wrap{

}

.bug-main-wrap-toggle{
	right: 0;
}
/*######## Smart Green ########*/
.smart-green {
	margin-left:auto;
	margin-right:auto;
	max-width: 500px;
	background: $white;
	padding: 30px 30px 20px 30px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.smart-green h1 {
	font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding: 20px 0 20px 40px;
	display: block;
	margin: -30px -30px 10px -30px;
	color: $white;
	background: $main-blue;
	text-shadow: 1px 1px 1px #949494;
	border-bottom:1px solid $main-blue;

}
.smart-green h1>span {
	display: block;
	font-size: 11px;
	color: $white;
}

.smart-green label {
	display: block;
	margin: 0 0 5px;
}
.smart-green label > span {
	float: left;
	margin-top: 10px;
	color: $light-blue;
}
.smart-green input[type="text"], .smart-green input[type="email"], .smart-green textarea, .smart-green select {
	color: #555;
	height: 30px;
	line-height:15px;
	width: 100%;
	padding: 0 0 0 10px;
	margin-top: 2px;
	border: 1px solid #E5E5E5;
	background: #FBFBFB;
	outline: 0;
	-webkit-box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
	box-shadow: inset 1px 1px 2px rgba(238, 238, 238, 0.2);
	font: normal 14px/14px Arial, Helvetica, sans-serif;
}
.smart-green textarea{
	height:100px;
	padding-top: 10px;
}
.smart-green select {
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	width:100%;
	height:30px;
}
.smart-green .button {
	background-color: $main-blue;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-border-radius: 5px;
	border: none;
	padding: 10px 25px 10px 25px;
	color: $white;
	text-shadow: 1px 1px 1px #949494;
}
.smart-green .button:hover {
	background-color: $main-blue;
}

/*Bug Form*/

/*Settings Wrapper*/

.settings-wrapper{
	padding: 30px;
	.nav-tabs{
		margin-bottom: 80px;
		border-bottom: 3px solid $light-gray;
		li{
			border-radius: 0;
			margin-bottom: -3px;
			&.active{
				a{
					background: inherit;
					border: none;
					border-bottom: 3px solid $main-blue;
				}
			}
			a{
				transition: all 0.1s;
				color: #000;
				border-radius: 0;
				border: none;
				text-transform: uppercase;
				font-weight: bolder;
				&:hover{
					background: transparent;
					border-bottom: 3px solid $main-blue;
				}
			}

		}
	}
}


.sett-header{
	min-height: 150px;
	background: $main-blue;
}

.sett-avatar-upload{
	span{
		font-size: 20px;
		cursor: pointer;
		position: relative;
		top: -60px;
		color: $white;
	}

	label{
		cursor: pointer;
		max-width: 180px;
		padding: 20px;
		&:after{
			content: "";
		}
	}
	img{
		border-radius: 100%;
		max-width: 100%;
	}
}

.sett-tabs-wrapper{
	background: $white;
	padding: 40px 20px 20px;
}

.full-width-info-block{
	line-height: 80px;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
	background: $light-gray;
	min-height: 80px;
}

.sett-input-div{
	margin-top: 50px;
	&.half{
		display: inline-block;
		width: 50%;
	}
	label{
		font-size: 17px;
		font-weight: bolder;
		color: $dark-gray;
		display: block;
	}
	input{
		margin-top: 40px;
		padding: 5px 0 5px 0;
		width: 100%;
		border: none;
		border-bottom: 1px solid $middle-gray;
	}
}

.half-parent{
	font-size: 0;
	div{
		font-size: 16px;
		padding: 0 7.5px;
	}
	input[type="date"]{
		padding-bottom: 2px;
	}
}

.sett-gender-wrap{
	margin-top: 40px;
	margin-bottom: 70px;
	max-width: 300px;
	font-size: 0;
	div{
		font-size: 16px;
		display: inline-block;
		width: calc(100% / 3);
		label{
			float: left;
			min-width: inherit;
		}
		input{
			float: left;
			margin: 2px 10px 0;
		}
	}
}

#tab_default_1{
	.saveCancel-wrapper{
		margin-top: 80px;
		padding-right: 10px;
		button.save{
			padding: 15px;
		}
	}
}

#tab_default_2{
	.saveCancel-wrapper{
		margin-top: 80px;
		padding-right: 10px;
		button.save{
			padding: 15px;
		}
	}
}
#tab_default_3{
	.saveCancel-wrapper{
		margin-top: 80px;
		padding-right: 10px;
		button.save{
			padding: 15px;
		}
	}
}

.sett-modal-pairs-wrap{
	background: $white;
	.for-each{
		padding: 30px;
		min-height: 250px;
		background: $white;
		box-shadow: 0 0 12px 2px $middle-gray;
		p{
			font-size: 20px;
			text-align: center;
		}
		span{
			min-height: 40px;
			display: block;
			margin-top: 10px;
			font-size: 14px;
			max-width: 300px;
			text-align: center;
			color: $dark-gray;
		}
	}
}
#settModal{
	.modal-body{
		padding: 30px;
	}
}

#sett-inp{
	width: 100%;
	height: 100%;
	visibility: hidden;
	position: absolute;
}

.sett-label-bg{
	text-align: center;
	min-height: 124.5px;
	min-width: 100%;
	background: $light-gray;
	padding: 15px;
}

.sett-label-button{
	font-weight: bolder;
	background: $white;
	margin-top: 20px;
	padding: 10px 20px;
}

.inp-upload-div{
	position: relative;
}

.sett-current-status{
	min-height: 200px;
	background: $white;
	padding: 20px;
	p{
		font-size: 17px;
		font-weight: bolder;
	}
	hr{
		margin-bottom: 30px;
	}
	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.switch input {display:none;}

	.slider {
		position: absolute;
		cursor: pointer;
		height: 15px;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 0;
		bottom: -5px;
		background-color: #93BE94;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		background-color: $main-green;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px $main-green;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(35px);
		-ms-transform: translateX(35px);
		transform: translateX(35px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
		max-width: 60px;
	}

	.slider.round:before {
		border-radius: 50%;
	}
	.sett-user-stat{
		font-size: 18px;
	}
	.auth-status{
		margin-top: -30px;
	}
}
.sett-current-flex{
	margin-top: 30px;
	span{
		margin-top: 23px;
	}
	p{
		margin-right: 10px;
		display: inline-block;
		font-family: sans-serif;
		padding: 15px 0 5px 0;
		&.active{
			border-bottom: 2px solid $main-green;
		}
	}
}

.useruploadicon-span{
	right: -100px;
	top: -130px !important;
}

.btn-minimize-left{
	span{
		&:before{
			font-family: FontAwesome;
			content: "\f068";
		}
	}
	&:hover{
		color: $light-blue;
	}
}


.minimized{
	transition: 0.1s ease;
	width: 45px;
	height: 45px !important;
	overflow: hidden;
	.close-ax{
		span{
			display: inline-block;
			margin-left: -10px;
			font-size: 23px;
			&:before{
				transition: all 0.3s ease-in;
				content: "\F0B2";
			}
			&:hover{
				transform: scale(1.1);
			}
		}
	}
}

.maximized{
	transition: all 0.5s;
	visibility: visible;
}

.layer-1-replaced{
	padding: 20px;
	margin-bottom: 40px;
	.bb-select-wrapper{
		input{
			margin-left: 0;
			display: block;
			width: 100%;
		}
		label{
			margin-bottom: 10px;
		}
		select{
			margin-left: 0;
			display: block;
			width: 100%;
			padding-left: 0;
		}
	}
	.bb-select-lang{
		padding: 3px 0;
	}
}

.c-validation{
	width: 100%;
	margin-top: 5px;
	color: #c51244;
	float: right;
	text-align: right;
}

.drag-drop-pairs-wrapper-in{
	& > h4{
		color: $main-blue;
		margin: 15px 0 15px;
		font-size: 18px;
		padding-bottom: 6px;

	}
}

#layer-2{
	.drag-drop-pairs-wrapper{
		height: auto;
	}
}

.term-time-speceffic-wrap{
	background: $white;
	margin-top: 40px;
	padding: 20px;
	.bb-select-wrapper{
		.bb-select{
			width: 100%;
			margin-left: 0;
		}
	}
	.explain-block{
		margin-right: -20px;
		margin-left: -20px;
	}
	.radio-select-wrapper{
		max-width: 350px;
	}
}

.add-edit-location-wrap{
	border: 1px solid $light-gray;
	background: $white;
	padding: 20px;
	p{
		font-size: 18px;
		&:nth-child(2){
			margin-top: 40px;
		}
	}
	.bb-select-wrapper{
		select{
			padding-left: 0;
			border-bottom: 1px solid $middle-gray;
		}
		label{
			font-size: 18px;
			font-weight: normal;
		}
	}
	.auth-status{
		text-align: left;
		border: none;
	}

	.location-name-table-wrap{
		border: 1px solid $middle-gray;
		background: $white;
		padding: 20px;
		margin-top: 20px;
		.fa{
			&.fa-map-marker{
				color: $light-blue;
			}
			&.fa-picture-o{
				color: $main-blue;
			}
			&.fa-pencil{
				color: orange;
			}
			&.fa-times{
				color: $main-red
			}
		}
		.dt-table{
			& > div{
				overflow-x: scroll;
			}
		}
		td{
			min-width: 150px;
			text-align: left;
			background: transparent;
		}
		th{
			text-align: left;
			border: none;
			border-bottom: 2px solid $light-gray;
		}
		#locations_paginate{
			display: none;
		}
		#locations_info{
			display: none;
		}
	}

	.add-edit-location-wrap-half{
		max-width: 480px;
		border: 1px solid $middle-gray;
		padding: 15px;
	}
}

#locations_filter{
	label{
		&:before{
			left: inherit;
			right: 20px;
		}
		input{
			width: 80%;
			padding-left: 10px;
		}
	}
}

.simple-input-wrap{
	label{
		margin-top: 20px;
		margin-bottom: 5px;
		display: block;
	}
	input{
		width: 100%;
		max-width: 480px;
		border: none;
		border-bottom: 1px solid $middle-gray;
		display: block;
	}
}

.main-cont-right-nopadd{
	.main-container-right{
		padding: 0;
	}
}

#locations_forom{
	ul{
		li{
			display: inline-block;
			box-shadow: 0 0 9px $main-green;
		}
	}
	label{
		padding-left: 10px;
		cursor: pointer;
		position: relative;
		top: -2px;
	}

}

.select2-container .select2-selection{
	padding: 4px;
	border: 2px solid $light-gray !important;
}

.location_title{
	margin-bottom: 10px;
}

#locationsModal{
	.modal-footer{
		.saveCancel-wrapper{
			margin: 0;
		}
	}
}

.translate-st-contract{
	padding: 30px 15px 50px;
	background: $white;
	margin-top: 40px;
	h3{
		font-weight: normal;
		font-size: 26px;
	}
}

.bb-select-full{
	font-size: 21px;
	width: 100%;
	margin-left: 0;
	padding: 5px;
	border: none;
	border-bottom: 2px solid $middle-gray;
}

.dib-language-wrap{
	div{
		display: inline-block;
	}
	.bb-select-lang{
		width: 45px;
	}
}

.contract-name-div{
	span{
		display: inline-block;
		//float: right;
		padding-right: 50px;
		color: $dark-gray;
	}
}

.translated-fields{
	margin-top: 30px;
}

.items-translate{
	font-size: 18px;
	line-height: 30px;
	margin-top: 30px;
	min-height: 80px;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid $light-gray;
}

.translated-fields{
	.row{
		background: $white;
		margin-left: 0;
		margin-right: 0;
		padding-bottom: 30px;
		padding-top: 5px;
	}
	hr{
		margin: 0;
	}
	h3{
		background: $white;
		width: calc(100% / 2);
		float: left;
		padding-top: 30px;
		font-size: 28px;
		font-weight: normal;
	}
	.sided-check-wrap{
		margin: 0;
		padding: 5px 0 !important;
		/*float: left;*/
		/*.styled-input-check{}*/
	}
	.saveCancel-wrapper{
		background: $white;
		margin: 0;
		padding: 40px 5px;
		.sided-check-wrap{
			label{
				padding: 5px 30px;
			}
		}
	}
}

.checkbox-div{
	margin-top: 20px;
	p{
		margin-top: 20px;
		display: none;
		input{
			display: block;
			width: 100%;
			border: 1px solid $main-blue;
			border-radius: 4px;
			padding: 10px 15px;
		}
	}
}

#term-time-select{
	transition: all 0.3s;
	border: 1px solid $main-blue;
}

.login-max{
	max-width: 420px;
	width: 420px;
	.input-group-addon{
		display: none;
	}
	.input-group {
		display: block;
		width: 100%;
	}
	input[type="text"],input[type="password"]{
		display: block;
		width: 100%;
		font-size: 18px;
		box-shadow: none;
		border: none;
		border-bottom: 1px solid $middle-gray;
		border-radius: 0;
		padding: 19px 0;
		margin-top: 30px;
	}
}

.login-help{
	display: block;
	text-align: right;
	margin-top: 12px;
}

.forgot_pass{
	padding-top: 20px;
}

.flag-text { margin-left: 10px; }

.new-system-lang-wrap{
	.bb-select-wrapper{
		margin-top: 70px;
	}
	.bold-label{
		font-weight: normal;
	}
	h3{
		font-weight: normal;
		font-size: 28px;
	}
	h1{
		margin-top: 30px;
	}
	.saveCancel-wrapper{
		margin-top: 60px;
	}
}

.sided-button-wrap{
	margin-top: 80px;
	.sided-button-item{
		span{
			display: inline-block;
			min-width: 150px;
			float: left;
			line-height: 38px;
			font-size: 20px;

		}
	}
	.saveCancel-wrapper{
		text-align: left;
	}
}

.activated-lang-list{
	padding: 20px 40px;
}

.contract-progress-main{
	margin-top: 50px;
	.progress-cols{
		min-height: 290px;
		height: 290px;
		padding: 30px 50px;
	}
	#prg-col-1{
		h2{
			text-align: center;
			margin-top: 20px;
			font-style: italic;
		}
	}
	#prg-col-2{
		h3{
			font-size: 30px;
			font-weight: 400;
		}
		p{
			margin-top: 20px;
			font-size: 20px;

		}
		.progress{
			height: 40px;
			margin-top: 30px;
			.progress-bar{
				background: $main-green;
			}
		}
		.bb-select-lang{
			padding: 0 0 5px;
			float: right;
		}
		.bold-label{
			font-weight: normal;
			font-size: 20px;
		}
	}
	h2{
		margin-top: 70px;
		margin-bottom: 70px;
	}
}

.needed-information{
	.explain-block-title-active{
		& + div{
			margin-bottom: 30px;
		}
	}
	.explain-block-title{
		//min-height: 90px;
		h3{
			font-size: 26px;
			font-weight: normal;
		}
	}
	.sett-current-status{
		min-height: inherit;
		padding: 40px 0;
		.slider{
			&:before{
				background: $light-blue;
			}
			&.round{
				max-width: 40px;
			}
		}
		input{
			&:checked{
				& + .slider{
					background: #90CAF9;
					&:before{
						-webkit-transform: translateX(15px);
						-ms-transform: translateX(15px);
						transform: translateX(15px);
					}
				}
			}
		}
		.sett-current-flex{
			margin-top: inherit;
			.sett-user-stat{
				margin-top: inherit;
				& + span{
					float: right;
				}
				mark{
					max-width: 480px;
				}
			}
			span{
				margin-top: inherit;
			}
		}
	}
	.bb-select{
		padding: 8px 2px;
		margin-left: 0;
		font-size: 16px;
	}
	.add-author-rep{
		.bb-select{
			float: right;
		}
	}
	.explain-block{
		margin-right: -20px;
	}
}

.search-div{
	position: relative;
	input{
		padding-left: 30px;
		padding-bottom: 5px;
		display: block;
		width: 100%;
		border: none;
		border-bottom: 2px solid $middle-gray;
	}
	span{
		&.fa-search{
			font-size: 20px;
			color: $middle-gray;
			position: absolute;
		}
	}
	& + .sett-current-status{
		margin-top: 15px;
		.sett-current-flex{
			span{
				margin-top: -7px;
			}
		}
	}
}

.f-with-inp-wrap{
	margin-top: 22px;
	input{
		display: block;
		width: 100%;
	}
	.bb-select{
		width: 100%;
	}
}

.seperated-inps-wrap{
	margin-top: 22px;
	div{
		display: inline-block;
		input{
			width: 100%;
		}
		&:last-child{
			float: right;
		}
	}
}

.right-inps{
	.bold-label{
		font-weight: normal;
		font-size: 16px;
	}
}

.add-inp-field{
	display: block;
	text-align: center;
	img{
		max-width: 25px;
	}
}

.individual-info-wrap{
	margin-top: 70px;
	.explain-block-title{
		h3{
			font-size: 28px;
			font-weight: normal;
		}
	}
	.individual-item{
		height: 72px;
		font-size: 24px;
		border-radius: 4px;
		border: 2px solid $light-gray;
		padding: 20px 15px;
		text-align: center;
		margin-top: 30px;
		input{
			text-align: center;
			max-width: 100%;
			border: none;
		}
		textarea{
			text-align: center;
			font-size: 18px;
			height: 100%;
			padding: 15px;
			max-width: 100%;
			width: 100%;
			border: none;
		}
	}
}

#contract-progress-step-2{
	.bold-label{
		font-size: 16px;
		font-weight: normal;
	}
}

#step2-col-gray{
	text-align: center;
	background: $middle-gray;
}

.save-and-send-contract-wrap{
	margin-top: 70px;
	.sett-current-status{
		margin-left: -20px;
		margin-right: -20px;
		margin-top: 30px;
		color: $middle-gray;
		background: #F7F6F6;
		min-height: inherit;
		padding: 5px 15px;
		.sett-current-flex{
			margin-top: 0;
			.fl-span,.slider{
				margin-top: 10px;
			}
		}
		.sett-user-stat{
			font-size: 16px;
			line-height: 25px;
		}
	}
	h3{
		font-size: 30px;
		font-weight: normal;
		margin-top: 10px;
	}
}

.gray-fullwidth{
	background: $light-gray;
	.fl-span{
		float: left;
	}
}

.signature-col{
	label{
		display: block;
		font-size: 18px;
		color: $dark-gray;
	}
	input{
		border: none;
		border-bottom: 2px solid $middle-gray;
		padding-top: 50px;
		padding-bottom: 5px;
		width: 100%;
	}
	.autorized-signature{
		color: $middle-gray;
		font-size: 16px;
		margin-top: 8px;
	}
	.bb-select-wrapper{
		label{
			float: left;
		}
	}
	.f-with-inp-wrap{
		margin-top: 0;
	}
	.bb-select{
		margin-left: 0;
	}
}

.big-blue-button{
	background: $main-blue;
	color: $white;
	width: 100%;
	margin-top: 30px;
}

.signature-right-col{
	border-left: 1px solid $dark-gray;
	padding-left: 20px;
	h4{
		font-size: 17px;
		color: $dark-gray;
		margin-top: 20px;
	}
	p{
		line-height: 20px;
		font-size: 17px;
		color: $dark-gray;
	}
}

.blue-block-wrapper{
	max-width: 1366px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0 40px;
}

.inactive_contract{
	.blue-bordered-a{
		border: 2px solid #B5C0C9;
		cursor: not-allowed;
		p{
			font-size: 23px;
			color: #B5C0C9;
		}
	}
}

.blue-bordered-a{
	transition: all 0.3s;
	display: block;
	min-height: 210px;
	width: 100%;
	margin-top: 50px;
	padding: 30px 15px;
	background: $white;
	border: 2px solid $main-blue;
	border-radius: 8px;
	&:hover{
		border-color: $light-gray;
		box-shadow: inset 0 0 12px 1px #0b5b73;
	}
	p{
		font-size: 26px;
		font-weight: bold;
		color: #080808;
		margin-top: 20px;
		line-height: 32px;
		span{
			font-size: 24px;
			display: block;
			font-weight: lighter;
		}
	}
	&.contract_link{
		height: 210px;
		p{
			height: 210px;
			font-size: 23px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
	}
}

#contract_content{
	height: 700px;
	//overflow-y: scroll;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
.pagination {
	display: inline-block;
	//margin: 0;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
}

/*.spec_fields{
	width: 85%;
}*/

.contract-sign-main{
	h1{
		text-align: center;
		span{
			display: block;
			margin-top: 40px;
		}
	}
	.bb-select-wrapper{
		select{
			width: 60%;
			float: right;
			font-weight: bolder;
		}
		label{
			margin-top: 10px;
		}
	}
	.saveCancel-wrapper{
		margin: 80px 0 0;
		button{
			min-width: 150px;
		}
	}
}

.bb-wrappers{
	margin-top: 120px;
}

.future-editable{
	padding-top: 30px;
	margin-top: 60px;
	min-height: 400px;
	background: $white;
	p{
		font-weight: bolder;
		font-size: 18px;
		text-align: center;
	}
}

.second_block{
	padding-top: 56px;
}

.contract-sent-main{
	.contract-progress-main{
		#prg-col-2{
			padding: 30px;
			p{
				margin-top: 30px;
				font-size: 16px;
				line-height: 20px;
			}
		}
	}
	.big-blue-button{
		margin-top: 80px;
	}
	.vivod{
		padding-right: 50px;
		p{
			font-weight: bolder;
			span{
				display: inline-block;
				margin-left: 10px;
				font-weight: normal;
			}
		}
	}
}

.result_list{
	width: 100%;
	padding: 15px;
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	li{
		margin-top: 1px;
		background: $light-gray-lighter;
		transition: all 0.3s;
		cursor: pointer;
		padding: 10px 15px;
		color: #333333;
		&:hover{
			color: $main-blue;
			padding-left: 20px;
		}
	}
}

.usermenu-sidebar-wrap{
	.panel-title{
		a{
			line-height: 50px;
			img{
				margin-right: 10px;
				display: inline-block;
				float: left;
				width: 50px;
			}
		}
		hr{
			max-width: 200px;
			border-top: 2px solid #6D9DC7;
		}
	}
}

.concluded-wrapper{
	.bg-white{
		margin-top: 40px;
	}
	.dataTables_filter{
		button{
			border: 1px solid $light-gray;
			border-radius: 10px;
			padding: 6px 15px;
		}
		.form-control{
			border: 1px solid $light-gray;
			border-radius: 15px;
			&:focus{
				box-shadow: none;
			}
		}
	}
	h3{
		display: inline-block;
	}
}

.download-all-pdf{
	text-align: right;
	margin-top: -40px;
	a{
		img{
			max-width: 40px;
			border-radius: 3px;
		}
	}
}

.multyselect-in-conclude{
	display: inline-block;
	float: right;
	.select2-container{
		.select2-selection{
			padding: 0;
		}
	}
	p{
		margin-bottom: 10px;
		text-align: left;
		text-transform: capitalize;
		font-size: 18px;
	}
}

#color-scheme{
	background: $white;
	box-shadow: 0 5px 6px 1px $middle-gray;
	position: absolute;
	min-height: 300px;
	right: 0;
	margin-top: 1px;
	z-index: 20;
	min-width: 350px;
	max-width: 100%;
	padding: 30px 20px;
	P{
		display: inline-block;
		min-width: 120px;
		font-size: 15px;
	}
	select{
		width: 100%;
		margin-left: 15px;
		padding: 5px;
	}
	.ff-flex{
		p{
			line-height: 30px;
		}
	}
}

.ff-flex{
	display: flex;
}

#color-label-1{
	.span-bg1{
		background-color: $c-scheme-light-blue;
	}
	.span-bg2{
		background-color: $c-scheme-green;
	}
}
#color-label-2{
	.span-bg1{
		background-color: $c-scheme-violet;
	}
	.span-bg2{
		background-color: $c-scheme-pink;
	}
}
#color-label-3{
	.span-bg1{
		background-color: $c-scheme-violet;
	}
	.span-bg2{
		background-color: $c-scheme-light-blue;
	}
}
#color-label-4{
	.span-bg1{
		background-color: $c-scheme-brown;
	}
	.span-bg2{
		background-color: $c-scheme-light-blue;
	}
}
#color-label-5{
	.span-bg1{
		background-color: $c-scheme-light-blue;
	}
	.span-bg2{
		background-color: $c-scheme-violet;
	}
}
#color-label-6{
	.span-bg1{
		background-color: $c-scheme-gray;
	}
	.span-bg2{
		background-color: $c-scheme-red;
	}
}
#color-label-7{
	.span-bg1{
		background-color: $c-scheme-brown;
	}
	.span-bg2{
		background-color: $c-scheme-green;
	}
}
#color-label-8{
	.span-bg1{
		background-color: $c-scheme-violet;
	}
	.span-bg2{
		background-color: $c-scheme-green;
	}
}
#color-label-9{
	.span-bg1{
		background-color: $white;
		border: 1px solid $light-gray;
	}
	.span-bg2{
		background-color: $main-blue;
		border: 1px solid $main-blue;
	}
}

.colors-block-wrap{
	margin-top: 30px;
	.colors-block{
		margin-top: 15px;
		.col-sm-4{
			input{
				position: absolute;
				visibility: hidden;
				&:checked{
					& + label:before{
						content:  url("../images/check2.png");
						display: block;
						max-width: 100%;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
			label{
				position: relative;
				display: inline-block;
				height: 25px;
				min-width: 50px;
				margin-top: -7px;
				margin-bottom: 25px;
				div{
					height: 100%;
					display: flex;
					span{
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
}

.slide-cont{
	.contract-progress-main{
		#prg-col-2{
            .bb-select-wrapper{
                margin-top: 20px;
                display: inline-block;
                .bb-select-lang{
                    float: none;
                }
            }
            p{
              font-size: 18px;
              line-height: 22px;
            }
            .progress{
              margin-top: 20px;
            }
		}
	}
    .gray-title-explaine{
      margin: -20px -20px 40px;
    }
    .needed-information{
        .sett-current-status{
           padding: 15px 0;
        }
    }
	.add-inp-field{
		margin-top: 30px;
	}
	.sett-user-stat{
		max-width: 820px;
		display: table;
	}
}

.gray-title-explaine{
  line-height: 22px;
  padding: 24px 20px;
  color: $gray-for-title;
  background: $light-gray-lighter;
  span{
    display: inline-block;
    margin-right: 15px;
    font-size: 24px;
    color: $gray-for-title;
    float: left;
    line-height: 45px;
  }
  &.wide{
      span{
        line-height: inherit;
      }
  }
}

.relevant-translations{
  display: flex;
    div{
      position: relative;
      width: 100%;
      &.gr-1{
        p{
          & + span{
            width: $fw - 5%;
            display: block;
            border: 1px solid $middle-gray;
            bottom: 0;
          }
        }
      }
      &.gr-2{
        border-left: 2px solid $middle-gray;
        padding-left: 22px;
        p{
          & + span{
            width: $fw - 5%;
            right: 0;
            display: block;
            border: 1px solid $middle-gray;
            bottom: 0;
          }
        }
      }
      p{
        min-height: 70px;
        position: relative;
        line-height: 22px;
        font-size: 18px;
        color: $dark-gray;
        margin-bottom: 20px;
      }
    }
  h4{
    float: right;
    margin-right: 22px;
    margin-top: 10px;
	color: $middle-gray;
  }
	.bb-select{
		width: 88%;
	}
}

textarea{
	&.bb-select{
		width: 100%;
	}
}

#slide-2{
  .bg-white{
    &:last-child{
      margin-top: 70px;
    }
  }
}

#slide-3{
    .bg-white{
      margin-top: 70px;
    }
    .gray-title-explaine{
        & + p{
          line-height: 22px;
          font-size: 18px;
          color: $dark-gray;
        }
    }
}

.category-h4{
  .sett-current-flex{
    margin-top: 35px !important;
  }
  .sett-user-stat{
    line-height: 22px;
    & + span{
      margin-top: -20px !important;
    }
  }
  mark{
    background: transparent;
    display: block;
    margin-left: 95px;
  }
}

.specify-wrap{
  .needed-information{
    .sett-current-status{
      .sett-current-flex{
        border-bottom: 2px solid $middle-gray;
        padding-bottom: 10px;
        margin-top: 10px;
        .sett-user-stat{
          & + span{
            position: absolute;
            right: 0;
            margin-top: -16px;
          }
        }
      }
    }
  }
}
.specify-wrap-no-border{
	.needed-information{
		.sett-current-status{
			.sett-current-flex{
				border: none ;
				/*.sett-user-stat{
					& + span{
						position: absolute;
						right: 0;
						margin-top: -16px;
					}
				}*/
			}
		}
	}
}

#slide-4{
  .bg-white{
    margin-top: 70px;
  }
  .gray-title-explaine{
    & + p{
      line-height: 22px;
      font-size: 18px;
      color: $dark-gray;
    }
  }
  .bb-select{
    margin-left: 0;
  }
  .f-with-inp-wrap{
    & + .needed-information{
      margin-top: -20px;
      display: inline-block;
      position: absolute;
      right:0;

    }
  }
  .bolder-p{
    margin-top: 30px;
  }
}

.bolder-p{
  line-height: 22px;
  font-size: 18px;
  color: $dark-gray;
}

.additional-info-wrap{
	margin-top: 40px;
	.for-right{
		margin-top: -15px !important;
		position: absolute;
		right: 0;
	}
	.sett-current-flex:first-child {
		.individ-inp-div {
			input {
				margin-top: 30px;
				border: none;
				border-bottom: 2px solid;
				width: 100%;
				max-width: 90%;
				padding: 15px 0 0;
				line-height: 20px;
			}
			hr {
				margin: 0;
			}
		}
	}
	.individ-inp-div {
		input {
			//margin-top: 30px;
			border: none;
			border-bottom: 2px solid;
			width: 100%;
			max-width: 90%;
			//padding: 15px 0 0;
			line-height: 20px;
		}
		hr {
			margin: 0;
		}
	}
	.sett-current-flex{
		border: none !important;
		margin-top: 40px !important;
	}
}

#slide-5{
	.bg-white{
		margin-top: 70px;
	}
}

.disabled{
	opacity: 0.1;
	pointer-events: none;
}

.sett-current-status-no-border{
	.sett-current-flex{
		border: none !important;
	}
}

.select2-container{
	.select2-selection--single{
		height: 35px !important;
	}
}

.select2-container--default{
	.select2-selection--single{
		.select2-selection__rendered{
			line-height: 20px !important;
		}
	}
}

.pagination-in-save{
	float: left;
	margin-left: 50px;
	margin-top: -65px;
}

.profile-img-a{
	background-size: cover !important;
	background-position: center center !important;
	display: inline-block;
	max-width: 100%;
	border-radius: 100%;
	width: 140px;
	height: 133px;
}

.sidebar-min-div{
	border-top: 2px solid $middle-gray;
	padding-top: 15px;
	position: relative;
	margin-top: 100px;
	float: right;
	div{
		display: inline-block;
		&:first-child{
			color: #fff;
			float: left;
			line-height: 22px;
			font-size: 18px;
			margin-right: 15px;
		}
		img{
			max-width: 22px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
		}
		a{
			padding: 0;
		}
	}
}

.sidebar-minimised{
	.panel-title{
		a{
			margin-top: 40px;
			span{
				display: none;
			}
		}
	}
	.sidebar-min-div{
		float: none;
		div{
			&:first-child{
				display: none;
			}
			display: block;
			text-align: center;
		}
	}
	.panel-collapse{
		padding: 0;
		position: fixed;
		border: 1px solid $light-gray;
		z-index: 999;
		background: white;
		top: 110px;
		left: 112.417px;
		min-height: 100%;
		table{
			tr{
				td{
					padding: 0;
					a{
						color: $light-blue;
						&.active{
							background: #A6C4DC;
							color: #ffff;
						}
					}
				}
			}
		}
	}
	.row.main-row{
		transform: translate(0);
		overflow: hidden;
	}
}

.progress-cols{
	h2{
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 0;
		margin-top: 0;
	}
}

#c_header,#t_header{
	label{
		padding: 15px 0;
		//color: $light-blue;
	}
}
#c_footer,#t_footer{
	label{
		padding: 15px 0;
		//color: $light-blue;
	}
}

.set_primary{
	margin-top: 12px;
}

.simplify-ul{
	margin-top: 20px;
	input{
		&[type="text"]{
			display: block;
			width: 100%;
			margin-top: 10px;
			margin-bottom: 5px;
			padding: 5px 10px;
			border: 1px solid $middle-gray;
			border-radius: 4px;
		}
	}
}

#locationInfo{
	&.modal{
		.modal-body{
			max-width: 640px;
			margin: auto;
			ul{
				li{
					border-bottom: 1px solid $light-gray-lighter;
					padding: 5px;
					strong{
						color: $dark-gray;
						font-weight: bold;
						display: inline-block;
						min-width: 200px;
						line-height: 22px;
					}
					span{
						float: right;
						color: $light-blue;
						line-height: 22px;
						font-size: 16px;
					}
				}
			}
		}
		.modal-header{
			border: none;
		}
		.modal-footer{
			.btn{
				min-width: 100px;
				color: $white;
				border-radius: 4px;
				margin-right: 10px;
				background: $main-green;
				border: 1px solid $main-green;
				&[data-dismiss="modal"]{
					background: $main-red;
					border: 1px solid $main-red;
				}
			}
		}
	}
}

@-moz-document url-prefix() {
	.bb-select-wrapper select {
		padding-right: 25px;
		background-image: url("data:image/svg+xml,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='14px' height='14px' viewBox='0 0 1200 1000' fill='rgb(51,51,51)'> <path d='M1100 411l-198 -199l-353 353l-353 -353l-197 199l551 551z'/> </svg>");
		background-repeat: no-repeat;
		background-position: calc(100% - 7px) 50%;
		-moz-appearance: none;
		appearance: none;
	}
}

input{
	&#contract_name{
		font-size: 18px;
	}
}