.error-page {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: block;
    padding: 0;
    margin: 0;
}
.error-header {
    background-color: #1565c0;
    width: 100%;
    height: 40%;
}

.error-content {
    background-color: #ececec;
    width: 100%;
    height: 60%;
}