body {
    height: 100%;
    font-family: arial;
    background: #EBEBEB;
}
.m-auto-height {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.m-auto {
    display: inline-block;
    margin: auto; }

.login-max {
    max-width: 420px;
    width: 420px; }
.login-max .input-group-addon {
    display: none; }
.login-max .input-group {
    display: block;
    width: 100%; }
.login-max input[type="text"], .login-max input[type="password"] {
    outline: 0 !important;
    display: block;
    width: 100%;
    font-size: 18px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #C0C0C0;
    border-radius: 0;
    padding: 19px 0;
    margin-top: 30px; }


/*login*/
.login-form-wrapper {
    border-radius: 0; }
.login-form-wrapper .panel-body {
    padding: 30px; }
.login-form-wrapper .panel-body #btnLogin {
    width: 100%;
    margin-top: 50px;
    background: #2196F3;
    color: #fff;
    border-radius: 2px;
    padding: 12px; }
.login-form-wrapper .panel-body #btnLogin i {
    margin-left: 10px;
    color: #2196F3; }
.login-form-wrapper h1 {
    padding: 0;
    color: #fff; }
.login-form-wrapper .panel-heading {
    /*background: $main-blue;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		padding-left: 30px;*/
    display: none; }

.login-help {
    display: block;
    text-align: right;
    margin-top: 12px; }
