input {
    height: 40px;
}
label {
    font-size: 12px;
    color: #777;
    float: right;
    margin-top: -22px;
    z-index: 0;
}
#bug_report label {
    float: none;
}
.form-control {
    z-index: 1;
}
.auditor-info, .responsible-person {
    margin: 30px 0px;
    padding: 10px 15px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 49%;
    float: left;
}
.responsible-person {
    margin-right: 1%;
}
.start-end-date {
    display: inline-block;
    min-width: 300px;
    margin-bottom: 20px;
}

.datetimepicker .datetimepicker-hours span {
    width: 60px !important;
}
.datetimepicker .datetimepicker-minutes span {
    width: 60px !important;
}
.datetimepicker td, .datetimepicker th {

}

.start-end-date label{
    margin-top: 10px;
}
.trans-key {
    font-size: 12px;
    padding: 10px 0px;
    text-align: right;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.question-actions span, .question-actions a {
    margin: 0px 10px;
}

.btn {
    margin-bottom: 2px;
}
.fst-lst-pos {
    margin-top: 0px;
}
.sorting_asc, .sorting_desc, .sorting {
    min-width: 18px;
}


@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
    .bug-main-wrap, .bug-main-wrap *
    {
        display: none !important;
    }
}